<div class="span6">
	<h1>Sign in</h1>
	<div class = "container-box">
		<div class = "well">
			<%= form_tag sessions_path do %>
			  <p>
			    <%= label_tag :email %>
			    <%= text_field_tag :email, params[:email] %>
			  </p>
			  <p>
			    <%= label_tag :password %>
			    <%= password_field_tag :password %>
			  </p>
			  <p>
			    <%= label_tag :remember_me %>  
			    <%= check_box_tag :remember_me, 1, params[:remember_me] %>  
			  </p>

			  <button type="submit" class="btn btn-primary">Sign in</button>
			<% end %>
			  <b>Forgot Password?</b>
			  <%= link_to "Reset Password",  new_password_reset_path %>
			  <br>
			  <b>Don't have an account?</b>
			  <%= link_to 'Sign up', new_user_path %>
			  <br><br>
			  <p><a href="/tos">Terms of Service</a></p>
		</div>
	</div>
</div>