<div id="container">
	<div class="row">
		<div class="span3">
		</div>
		<div class="span6">
			<div class = "container-box">
				<div class = "well">
					<h1>Sign in</h1>

					<%= form_tag sessions_path do %>
					  <p>
					    <%= label_tag :email %><br />
					    <%= text_field_tag :email, params[:email] %>
					  </p>
					  <p>
					    <%= label_tag :password %><br />
					    <%= password_field_tag :password %>
					  </p>

					  <button type="submit" class="btn btn-primary">Sign in</button>
					  <br>
					  <p><a href="/tos">Terms of Service</a></p>
					<% end %>
					
					  <br>
					  <b>Don't have an account?</b>
					  <%= link_to 'Sign up', new_user_path %>
				</div>
			</div>
	    </div>
	</div>
</div>