<%= form_for(@rel_cat_assign) do |f| %>
  <% if @rel_cat_assign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rel_cat_assign.errors.count, "error") %> prohibited this rel_cat_assign from being saved:</h2>

      <ul>
      <% @rel_cat_assign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :relationship_category_id %><br />
    <%= f.number_field :relationship_category_id %>
  </div>
  <div class="field">
    <%= f.label :relationship_type_id %><br />
    <%= f.number_field :relationship_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
