<h1>All Relationship Type/Category Assignments <%= link_to 'Assign a Relationship Type to a Category', new_rel_cat_assign_path, :class => 'btn btn-primary' %><% if (current_user.user_type == "Admin")%><%=link_to 'Export Data', '/export_rel_cat_assigns', :class => 'btn btn-primary'%><% else %><%=link_to 'Export Data', '/export_rel_cat_assign_list', :class => 'btn btn-primary'%><% end %></h1><br>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>SDFB Rel. Type/Category Assignment ID:</th>
      <th>Relationship Type</th>
      <th>Relationship Category</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rel_cat_assigns_approved.each do |rel_cat_assign| %>
      <tr>
        <td><%= rel_cat_assign.id %></td>
        <td><%= link_to RelationshipType.find(rel_cat_assign.relationship_type_id).name, relationship_type_path(rel_cat_assign.relationship_type_id) %></td>
        <td><%= link_to RelationshipCategory.find(rel_cat_assign.relationship_category_id).name, relationship_category_path(rel_cat_assign.relationship_category_id) %></td>
        <td>
          <% if can? :show, rel_cat_assign %>
            <%= link_to 'Show', rel_cat_assign, :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :update, rel_cat_assign %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_rel_cat_assign_path(rel_cat_assign), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :delete, rel_cat_assign %>
            <%= link_to 'Destroy', rel_cat_assign, :class => 'btn btn-mini btn-danger',method: :delete, data: { confirm: 'Are you sure that you want to permanently delete this record and all associated records?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @rel_cat_assigns_approved, :param_name => 'rel_cat_assigns_approved_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>