<p id="notice"><%= notice %></p>

<p>
  <b>Relationship category:</b>
  <%= @rel_cat_assign.relationship_category_id %>
</p>

<p>
  <b>Relationship type:</b>
  <%= @rel_cat_assign.relationship_type_id %>
</p>


<%= link_to 'Edit', edit_rel_cat_assign_path(@rel_cat_assign) %> |
<%= link_to 'Back', rel_cat_assigns_path %>
