<div class="row">
  <div class="span12">
    <h1>Relationship Type/Category Assignment</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span5">
    <div class="well">
      <h2>Information
        <% if can? :update, @rel_cat_assign %> 
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_rel_cat_assign_path(@rel_cat_assign), :class => 'btn btn-mini' %>
        <% end %>
         <% if can? :delete, @rel_cat_assign %>
            <%= link_to 'Delete', @rel_cat_assign, :class => 'btn btn-mini btn-danger',method: :delete, data: { confirm: 'Are you sure that you want to permanently delete this record and all associated records?' } %>
          <% end %>
      </h2>
      <br>
      <dl class="dl-horizontal">
        <dt><strong>SDFB Rel. Type Assign. ID:</strong></dt>
        <dd><%= @rel_cat_assign.id %></dd>
        <dt><strong>Relationship Type:</strong></dt>
        <dd><%= link_to RelationshipType.find(@rel_cat_assign.relationship_type_id).name, relationship_type_path(@rel_cat_assign.relationship_type_id) %></dd>
        <dt><strong>Relationship Category:</strong></dt>
        <dd><%= link_to RelationshipCategory.find(@rel_cat_assign.relationship_category_id).name, relationship_category_path(@rel_cat_assign.relationship_category_id) %></dd>
       
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin")) %>
          <dt><strong>Created:</strong></dt>
          <dd><%= @rel_cat_assign.created_at.strftime("%m/%d/%Y") %> by <%= link_to User.find(@rel_cat_assign.created_by).username,  user_path(@rel_cat_assign.created_by) %></dd>
          <% @last_edit = @rel_cat_assign.last_edit %>
          <% if ! @last_edit.blank? %>
            <dt><strong>Last Edit:</strong></dt>
            <dd><%= @last_edit[1].strftime("%m/%d/%Y")%> by <%= link_to User.find(@last_edit[0]).username,  user_path(@last_edit[0]) %></dd>
          <% end %>
          <dt><strong>Is Approved?:</strong></dt>
          <dd><%= @rel_cat_assign.is_approved %></dd>
          <% if ! @rel_cat_assign.approved_by.blank? %>
            <dt><strong>Approved By:</strong></dt>
            <dd><%= link_to User.find(@rel_cat_assign.approved_by).username,  user_path(@rel_cat_assign.approved_by) %></dd>
          <% end %>
          <% if ! @rel_cat_assign.approved_on.blank? %>
            <dt><strong>Approved On:</strong></dt>
            <dd><%= @rel_cat_assign.approved_on %></dd>
          <% end %>
          <dt><strong>Is Active:</strong></dt>
          <dd><%= @rel_cat_assign.is_active %></dd>
          <dt><strong>Is Rejected:</strong></dt>
          <dd><%= @rel_cat_assign.is_rejected %></dd>
        <% end %>
      </dl>
    </div>
  </div>
