<%= simple_form_for @group_assignment, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @group_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_assignment.errors.count, "error") %> prohibited this group_assignment from being saved:</h2>

      <ul>
      <% @group_assignment.errors.full_messages.each do |msg| %>
        <br>
          <li>- <%= msg %></li>
        <br>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if ! @group_id.blank? %>
    <%= f.input :group_id, :collection =>@groupOptions.collect{ |g| [g.name, g.id] }, label: "Group", prompt: "Select", selected: @group_id %>
  <% else %>
    <%= f.input :group_id, :collection =>@groupOptions.collect{ |g| [g.name, g.id] }, label: "Group", prompt: "Select" %>
  <% end %>
  <% if ! @person_id.blank? %>
    <%= f.input :person_id, :collection =>@personOptions.collect{ |p| [p.first_name + " " + p.last_name, p.id] }, label: "Person", prompt: "Select", selected: @person_id %>
  <% else %>
    <%= f.input :person_id, :collection =>@personOptions.collect{ |p| [p.first_name + " " + p.last_name, p.id] }, label: "Person", prompt: "Select" %>
  <% end %>
  <%= f.input :start_date, start_year: 1200, end_year: 1900 %>
  <%= f.input :end_date, start_year: 1200, end_year: 1900 %>
  <% if current_user.user_type == "Admin" %>
    <%= f.input :is_approved %>
    <% if @is_approved == false %>
      <%= f.hidden_field :approved_by, :value => current_user.id %>
      <%= f.hidden_field :approved_on, :value => Time.now %>
    <% end %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                group_assignments_path, :class => 'btn' %>
  </div>
<% end %>