<%= simple_form_for @group_assignment, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @group_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_assignment.errors.count, "error") %> prohibited this group_assignment from being saved:</h2>

      <ul>
      <% @group_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <%= f.input :group_id %>
  <%= f.input :person_id %>
  <%= f.input :is_approved %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                group_assignments_path, :class => 'btn' %>
  </div>
<% end %>
