<%= simple_form_for @group_assignment, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @group_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_assignment.errors.count, "error") %> prohibited this group_assignment from being saved:</h2>

      <ul>
      <% @group_assignment.errors.full_messages.each do |msg| %>
        <br>
          <li>- <%= msg %></li>
        <br>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if ! @group_id.blank? %>
    <%= f.label :group_id %>
    <%= Group.find(@group_id).name %>
    <%= f.hidden_field :group_id, :value => @group_id %>
  <% else %>
    <%= f.input :group_id, :collection =>@groupOptions.collect{ |g| [g.name, g.id] }, label: "Group", prompt: "Select" %>
  <% end %>
  <% if ! @person_id.blank? %>
    <%= f.label :person_id %>
    <%= Person.find(@person_id).first_name + " " + Person.find(@person_id).last_name %>
    <%= f.hidden_field :person_id, :value => @person_id %>
  <% else %>
      <%= f.input :person_id, as: :hidden %>
      <%= f.input :person_autocomplete, as: :autocomplete, url: autocomplete_person_search_names_all_group_assignments_path, input_html: { 'data-id-element' => '#group_assignment_person_id' }, label: "Person", placeholder: "name" %>
  <% end %>
  <%= f.label :start_date_type, label: "Start Date" %>
  <%= f.input :start_date_type, :collection =>["BF", "AF","IN","CA","BF/IN","AF/IN"], label: false, prompt: "Year Type", hint: " BF = Before, AF = After, IN = In, CA = Circa, BF/IN = Before or In, AF/IN = After or In" %>
  <%= f.input :start_month, label: "Start Date", :collection =>["January","February","March","April","May","June","July","August","September","October","November","December"], label: false, prompt: "Month", :include_blank => true %>
  <%= f.input :start_day, label: false, :collection => 1..31, prompt: "Day", :include_blank => true %>
  <%= f.input :start_year, as: :string, label: false, placeholder: "Year"%>
  <%= f.label :end_date_type, label: "End Date" %>
  <%= f.input :end_date_type, :collection =>["BF", "AF","IN","CA","BF/IN","AF/IN"], label: false, prompt: "Year Type", hint: " BF = Before, AF = After, IN = In, CA = Circa, BF/IN = Before or In, AF/IN = After or In" %>
  <%= f.input :end_month, :collection =>["January","February","March","April","May","June","July","August","September","October","November","December"], label: false, prompt: "Month", :include_blank => true %>
  <%= f.input :end_day, label: false, :collection => 1..31, prompt: "Day", :include_blank => true %>
  <%= f.input :end_year, label: false, as: :string, placeholder: "Year" %>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <% if current_user.user_type == "Admin" %>
    <%= f.input :is_approved %>
    <%= f.input :is_active %>
    <%= f.input :is_rejected %>
    <%= f.hidden_field :approved_by, :value => current_user.id %>
    <%= f.hidden_field :approved_on, :value => Time.now %>
  <% end %>
  <div class="form-actions">
    Please note that your submission will not appear on SDFB <br>
    until it is reviewed by a SDFB curator or administrator. <br>
    <%= f.button :submit, :class => 'btn', :value => "Assign Person to Group" %>
  </div>
<% end %>