
  <div class="w-section form-section">
    <div class="w-form relationship-form-wrapper">
      <%= simple_form_for @group_assignment, html: { id: "wf-form-relationship-Contribution", class: "relationship-form" }, :url => group_add_person_create_path, :method => :get do |f| %>
        <% if @group_assignment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@group_assignment.errors.count, "error") %> prohibited this person from being saved:</h2>

            <ul>
            <% @group_assignment.errors.full_messages.each do |msg| %>
              <br>
              <li>- <%= msg %></li>
              <br>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :group_id, :value => params['group_id'] %>
        <%= f.hidden_field :created_by, :value => current_user.id %>
        <div class="w-container intro-wrapper">
          <div class="six-degrees-form-heading">
            <div data-ix="load-reveal" class="six-degrees-form-heading"><strong class="text"> &nbsp; GROUP&nbsp;PERSON&nbsp;CONTRIBUTION</strong>
            </div>
          </div>
        </div>
        <div data-ix="click-to-reveal" class="question-mark-div">
          <%= image_tag("question_mark.png", class: "relationship-question-mark") %>
        </div>
        <div class="relationship-question-div">
          <div class="relationship-new-question-text"><strong>Note:</strong> Any fields marked with a * indicates that it must be filled out before you can continue on with the form. Once you have finished all required fields, press the SUBMIT button to finish.</div>
        </div>
        <div id="relationship-new-div-1" data-ix="load-reveal-3" class="div-1">
          <h1 class="form-heading">Citation</h1>
          <label for="Relationship-New-Citation-2" class="rel-new-label-1">CITATION</label>
          <%= f.input :bibliography, input_html: {id: "Relationship-New-Citation-2", class: "w-input field-2" }, label: false %>
        </div>
        <div data-ix="load-reveal-4" class="w-clearfix form-button-div-block"><a href="#relationship-new-div-2" data-ix="move-next-button" class="w-button next-button-1">CONTINUE</a>
        </div>
        <div id="relationship-new-div-2" class="div-2">
          <h1 class="form-heading">Person*</h1>
          <%= f.input :person_id, as: :hidden %>
          <%= f.input :person_autocomplete, as: :autocomplete, url: autocomplete_person_search_names_all_group_assignments_path, input_html: { 'data-id-element' => '#group_assignment_person_id', class: "w-input field-2" }, label: "Person", placeholder: "name" %>
        </div>
        <div data-ix="load-reveal-4" class="w-clearfix form-button-div-block"><a href="#relationship-new-div-2" data-ix="move-next-button-2" class="w-button next-button-2">CONTINUE</a>
        </div>
        <div id="relationship-new-div-3" class="div-3">
          <h1 class="form-heading">Date Information</h1>
          <label for="Relationship-New-Start-Date-Type-2" class="start-date-label">START DATE TYPE</label>
          <%= f.input :start_date_type, :collection => ["BF", "AF","IN","CA","BF/IN","AF/IN"], input_html: { id: "Relationship-New-Start-Date-Type-2", class: "w-select field-2"}, label: false, prompt: "Year Type", hint: " BF = Before, AF = After, IN = In, CA = Circa, BF/IN = Before or In, AF/IN = After or In" %>
          <div class="w-row row-1">
            <div class="w-col w-col-4 column-1">
              <label for="Relationship-New-Start-Month-2" class="_14px-label">MONTH</label>
               <%= f.input :start_month, input_html: { id: "Relationship-Nwe-Start-Month-2", class: "w-select field-2"}, label: "Start Date", :collection =>["January","February","March","April","Ma","June","July","August","September","October","November","December"], label: false, prompt: "Month", include_blank: true %>
            </div>
            <div class="w-col w-col-4 column-2">
              <label for="Relationship-New-Start-Day-2" class="_14px-label">DAY</label>
              <%= f.input :start_day, input_html: { id: "Relationship-New-Start-Day-2", class: "w-select field-2 relationship-new-start-day" }, label: false, :collection => 1..31, prompt: "Day", include_blank: true %>
            </div>
            <div class="w-col w-col-4">
              <div>
                <label for="Relationship-New-Start-Year-2" class="_14px-label">YEAR</label>
                <%= f.input :start_year, as: :string, input_html: { id: "Relationship-New-Start-Year-2", class: "w-input field-2", style: "margin:0" }, label: false, placeholder: "Year" %>
              </div>
            </div>
          </div>
          <label for="Relationship-New-End-Date-Type-2" class="end-date-label">END DATE TYPE</label>
          <%= f.input :end_date_type, input_html: { id: "Relationship-New-End-Date-Type-2", class: "w-select field-2" }, :collection => ["BF", "AF","IN","CA","BF/IN","AF/IN"], label: false, prompt: "Year Type", hint: " BF = Before, AF = After, IN = In, CA = Circa, BF/IN = Before or In, AF/IN = After or In" %>
          <div class="w-row row-1">
            <div class="w-col w-col-4 column-1">
              <label for="Relationship-New-End-Month-2" class="_14px-label">MONTH</label>
                <%= f.input :end_month, input_html: { id: "Relationship-New-End-Month-2", class: "w-select field-2 relationship-new-end-month"}, :collection => ["January","February","March","April","May","June","July","August","September","October","November","December"], label: false, prompt: "Month", :include_blank => true %>
            </div>
            <div class="w-col w-col-4 column-2">
              <label for="Relationship-New-End-Day-2" class="_14px-label">DAY</label>
              <%= f.input :end_day, input_html: { id: "Relationship-New-End-Day-2", class: "w-select field-2 relationship-new-end-day" }, label: false, :collection => 1..31, prompt: "Day", :include_blank => true %>
            </div>
            <div class="w-col w-col-4">
              <div>
                <label for="Relationship-New-End-Year-2" class="_14px-label">YEAR</label>
                <%= f.input :end_year, input_html: { id: "Relationship-New-End-Year-2", class: "w-input field-2", style: "margin:0"}, label: false, as: :string, label: false, placeholder: "Year" %>

              </div>
            </div>
          </div>
        </div>
        <div class="w-clearfix form-button-div-block"><a href="#relationship-new-div-4" data-ix="move-next-button-3" class="w-button next-button-3">CONTINUE</a>
        </div>
        <div id="relationship-new-div-4" class="div-4">
            <%= f.input :annotation, input_html: { id: "Justification-for-Person-Citation-3", class: "w-input field-2" }, required: true, label: "Justification for Relationship Creation", required: true %>
        </div>
        <div class="w-clearfix form-div">
          <input type="submit" value="SUBMIT" data-wait="Please wait..." class="w-button form-button">
        </div>
        <% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator") %>
          <%= f.input :is_approved %>
          <%= f.input :is_active %>
          <%= f.input :is_rejected %>
          <%= f.hidden_field :approved_by, :value => current_user.id %>
          <%= f.hidden_field :approved_on, :value => Time.now %>
        <% else %>
          <%= f.hidden_field :is_approved, :value => false %>
        <% end %>

        <div class="breadcrumb-section">
          <div class="w-row breadcrumbs">
            <div class="w-col w-col-2">
              <div class="breadcrumb-1">
                <br><a class="breadcrumb-1" href="#relationship-new-div-1">1. Citation</a>
              </div>
            </div>
            <div class="w-col w-col-3">
              <div class="breadcrumb-2">
                <br><a class="breadcrumb-2" href="#relationship-new-div-2"><span>2. Person</span><br></a>
              </div>
            </div>
            <div class="w-col w-col-2">
              <div class="breadcrumb-3">
                <a class="breadcrumb-3" href="#relationship-new-div-3">
                  <br>3. Date Information</a>
              </div>
            </div>
            <div class="w-col w-col-3">
              <div class="breadcrumb-4">
                <a class="breadcrumb-4" href="#relationship-new-div-4">
                  <br>4. Justification</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>