<h1>Listing group_assignments</h1>

<table>
  <tr>
    <% if current_user.is_admin %>
      <th>Created by</th>
    <% end %>
    <th>Group</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_assignments_approved.each do |group_assignment| %>
  <tr>
    <% if current_user.is_admin %>
      <td><%= link_to group_assignment.get_users_name, user_path(group_assignment.created_by) %></td>
    <% end %>
    <td><%= link_to group_assignment.get_group_name, group_path(group_assignment.group_id) %></td>
    <td><%= link_to group_assignment.get_person_name, person_path(group_assignment.person_id) %></td>
    <% if can? :show, group_assignment %>
      <td><%= link_to 'Show', group_assignment %></td>
    <% end %>
    <% if can? :update, group_assignment %>
      <td><%= link_to 'Edit', edit_group_assignment_path(group_assignment) %></td>
    <% end %>
    <% if can? :destroy, group_assignment %>
      <td><%= link_to 'Destroy', group_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group assignment', new_group_assignment_path %>
