<h1>Listing group_assignments</h1>

<table>
  <tr>
    <th>Created by</th>
    <th>Group</th>
    <th>Person</th>
    <th>Is approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_assignments.each do |group_assignment| %>
  <tr>
    <td><%= group_assignment.created_by %></td>
    <td><%= group_assignment.group_id %></td>
    <td><%= group_assignment.person_id %></td>
    <td><%= group_assignment.is_approved %></td>

    <% if can? :show, group_assignment %>
      <td><%= link_to 'Show', group_assignment %></td>
    <% end %>
    <% if can? :update, group_assignment %>
      <td><%= link_to 'Edit', edit_group_assignment_path(group_assignment) %></td>
    <% end %>
    <% if can? :destroy, group_assignment %>
      <td><%= link_to 'Destroy', group_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group assignment', new_group_assignment_path %>
