<h2>Recent Groups</h2>
<% if ! @recent_groups.empty? %>
  <div class = "well">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>SDFB Group ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Start Year</th>
          <th>End Year</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @recent_groups.each do |group| %>
          <tr>
            <td><%= link_to group.id, group %></td>
            <td><%= group.name %></td>
            <td><%= group.description %></td>
            <td><%= group.start_year %></td>
            <td><%= group.end_year %></td>
            <td>
              <% if can? :update, group %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                edit_group_path(group), :class => 'btn btn-mini' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @recent_groups, :param_name => 'recent_groups_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </div>
<% else %>
  <div class = "well">
    No recent groups exist.
  </div>
<% end %>