<%= simple_form_for @person, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <br>
          <li>- <%= msg %></li>
        <br>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :title %>
  <%= f.input :prefix %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :suffix %>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <%= f.input :gender, :collection =>["female", "male","unknown"], label: "Gender", prompt: "Select" %>
  <%= f.input :odnb_id, label: "ODNB ID", as: :string %>
  <%= f.input :birth_year_type, :collection =>["BF", "AF","IN","CA","BF/IN","AF/IN"], label: "Birth Year Type", prompt: "Select" %>
  <%= f.input :ext_birth_year %>
  <%= f.input :alt_birth_year %>
  <%= f.input :death_year_type, :collection =>["BF", "AF","IN","CA","BF/IN","AF/IN"], label: "Death Year Type", prompt: "Select" %>
  <%= f.input :ext_death_year %>
  <%= f.input :alt_death_year %>
  <%= f.input :search_names_all %>
  <%= f.input :historical_significance, input_html: { rows:"5" } %>
  <%= f.input :justification, input_html: { rows:"5" } %>
  <% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator") %>
    <%= f.input :is_approved %>
    <%= f.hidden_field :approved_by, :value => current_user.id %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn' %>
  </div>
<% end %>