<%= simple_form_for @person, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :odnb_id %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <%= f.input :ext_birth_year %>
  <%= f.input :ext_death_year %>
  <%= f.input :birth_year_type %>
  <%= f.input :death_year_type %>
  <%= f.input :historical_significance %>
  <%= f.hidden_field :approved_by, :value => current_user.id %>
  <%= f.hidden_field :approved_on, :value => Time.now %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn' %>
  </div>
<% end %>
