:approved_by, :approved_on, :created_at

  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css">
 <%= javascript_include_tag "jquery-2.1.1.min", "jquery-ui.min", "bootstrap.min", "insights.standalone", "script", "accordion", "landing", "pace.min", "typeahead", "display2" %>
  <%= stylesheet_link_tag "reset", "jquery-impromptu.min", "jquery-ui.min", "bootstrap.min", "accordion", "insights.standalone", "table", "landing", "style", "bootstrap.min"%>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h2>All People</h2>
    </div>
    <div class="row">
      <div class="span4"> 
        <%= render 'person_search_box' %>
        <%= link_to 'New Person', new_person_path, :class => 'btn btn-primary' %>
      </div>
      <div class="span8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Person id</th>
              <th>ODNB id</th>
              <% if current_user != nil %>
                  <% if (current_user.user_type == "Admin")  %>
                      <th>Original ID</th>
                  <% end %>
              <% end %>
              <th>Prefix</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Suffix</th>
              <th>Title</th>
              <th>All known identities</th>
              <% if current_user != nil %>
                  <% if (current_user.user_type == "Admin")  %>
                      <th>Created by</th>
                  <% end %>
              <% end %>  
              <th>Birth Year Type</th>
              <th>Extant Birth Year</th>
              <th>Alternate Birth Year</th>
              <th>Death Year Type</th>
              <th>Extant Death Year</th>
              <th>Alternate Death Year</th>
              <th>Historical significance</th>
              <th>Justification</th>
              <th>Approved by</th>
              <th>Approved on</th>
              <th>Created at</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @people_approved.each do |person| %>
              <tr>
                <td><%= person.id %></td>
                <td><%= person.odnb_id %></td>
                <% if current_user != nil %>
                    <% if (current_user.user_type == "Admin")  %>
                        <td><%= person.original_id %></td>
                    <% end %>
                <% end %>
                <td><%= person.prefix %></td>
                <td><%= person.first_name %></td>
                <td><%= person.last_name %></td>
                <td><%= person.suffix %></td>
                <td><%= person.title %></td>
                <td><%= person.search_names_all %></td>
                <% if current_user != nil %>
                    <% if (current_user.user_type == "Admin")  %>
                        <td>
                          <% if person.created_by.nil? %>
                            ODNB
                          <% else %>
                            <%= person.created_by %>
                            <!-- Created by is mixed up with updated by in the system -->
                          <% end %>
                        </td>
                    <% end %>
                <% end %>
                <td><%= person.birth_year_type %></td>
                <td><%= person.ext_birth_year %></td>
                <td><%= person.alt_birth_year %></td>
                <td><%= person.death_year_type %></td>
                <td><%= person.ext_death_year %></td>
                <td><%= person.alt_death_year %></td>
                <td><%= person.historical_significance %></td>
                <td><%= person.justification %></td>
                <td><%= person.approved_by %></td>
                <td><%= person.approved_on %></td>
                <td><%= person.created_at %></td>
                <td>
                  <% if can? :show, person %>
                      <%= link_to 'Show', person %>
                  <% end %>
                  <% if can? :update, person %>      
                      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                  edit_person_path(person), :class => 'btn btn-mini' %>
                  <% end %>
                  <% if can? :destroy, person %>   
                      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                  person_path(person),
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                  :class => 'btn btn-mini btn-danger' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @people_approved, :param_name => 'people_approved_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
      </div>
  </div>
</div>