<h1>Listing people</h1>

<table>
  <tr>
    <% if current_user != nil %>
        <% if current_user.is_admin %>
            <th>Original ID</th>
        <% end %>
    <% end %>
    <th>First name</th>
    <th>Last name</th>
    <% if current_user != nil %>
        <% if current_user.is_admin %>
            <th>Created by</th>
        <% end %>
    <% end %>
    <th>Birth year</th>
    <th>Death year</th>
    <th>Historical significance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people_approved.each do |person| %>
  <tr>
    <% if current_user != nil %>
        <% if current_user.is_admin %>
            <td><%= person.original_id %></td>
        <% end %>
    <% end %>
    <td><%= person.first_name %></td>
    <td><%= person.last_name %></td>
    <% if current_user != nil %>
        <% if current_user.is_admin %>
            <td><%= person.created_by %></td>
        <% end %>
    <% end %>
    <td><%= person.birth_year %></td>
    <td><%= person.death_year %></td>
    <td><%= person.historical_significance %></td>
    <% if can? :show, person %>
        <td><%= link_to 'Show', person %></td>
    <% end %>
    <% if can? :update, person %>      
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <% end %>
    <% if can? :destroy, person %>   
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
