<%- model_class = Person -%>

<div class="row">
  <div class="span12">
    <h1><%= @person.display_name %>
    <% content_for :title, "SDFB: " + @person.display_name + " Notes"%>
    </h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span7">
    <% if ! @user_person_contribs.empty? %>
    <div class="well">
      <h2>All Notes for <%= @person.display_name %> <%= link_to 'New note',
                  new_user_person_contrib_path(:person_id => @person.id),
                  :class => 'btn btn-primary btn-mini' %></h2>
      <table class="table table-condensed">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>SDFB Note ID</th>
              <th>Note</th>
              <th>Citation</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @user_person_contribs.each do |user_person_contrib| %>
              <tr>
                <td><%= user_person_contrib.id %></td>
                <td><%= user_person_contrib.annotation %></td>
                <td><%= user_person_contrib.bibliography %></td>
                <td>
                  <% if can? :show, user_person_contrib %>
                    <%= link_to 'Show', user_person_contrib, :class => 'btn btn-mini' %>
                  <% end %>
                  <% if can? :update, user_person_contrib %>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_user_person_contrib_path(user_person_contrib), :class => 'btn btn-mini' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= will_paginate @user_person_contribs, :param_name => 'user_person_contribs_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
      </div>
    <% else %>
    <div class = "well">
      <h2>All notes for <%= @person.display_name %> <%= link_to 'New Note',
                new_user_person_contrib_path(:person_id => @person.id),
                :class => 'btn btn-primary btn-mini' %></h2>
      <br>
      <b>No notes exist.</b>
    </div>
    <% end %>
  </div>

  <div class="span5">
    <div class="well">
      <h2>More Information about this Person</h2>
      <dl class="dl-horizontal">
        <dt><strong>Person Record:</strong></dt>
        <dd><%= link_to 'View',
                  controller: "people", action: "show", id: @person %></dd>
        <dt><strong>Relationships:</strong></dt>
        <dd><%= link_to 'View',
                  controller: "people", action: "relationships", id: @person %></dd>
        <dt><strong>Group Membership:</strong></dt>
        <dd><%= link_to 'View',
                  controller: "people", action: "membership", id: @person %></dd></dd>
      </dl>
    </div>    
  </div>
</div>

