<%- model_class = Person -%>

<div class="row">
  <div class="span12">
    <h1><%= @person.display_name %>
    </h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span7">
    <% if ! @user_person_contribs.empty? %>
    <div class="well">
      <h2>All Annotations for <%= @person.display_name %> <%= link_to 'New annotation',
                  new_user_person_contrib_path(:person_id => @person.id),
                  :class => 'btn btn-primary btn-mini' %></h2>
      <table class="table table-condensed">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>SDFB Annotation ID</th>
              <th>Annotation</th>
              <th>Bibliography</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @user_person_contribs.each do |user_person_contrib| %>
              <tr>
                <td><%= user_person_contrib.id %></td>
                <td><%= user_person_contrib.annotation %></td>
                <td><%= user_person_contrib.bibliography %></td>
                <td>
                  <% if can? :show, user_person_contrib %>
                    <%= link_to 'Show', user_person_contrib, :class => 'btn btn-mini' %>
                  <% end %>
                  <% if can? :update, user_person_contrib %>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_user_person_contrib_path(user_person_contrib), :class => 'btn btn-mini' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= will_paginate @user_person_contribs, :param_name => 'user_person_contribs_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
      </div>
    <% else %>
    <div class = "well">
      <h2>All annotations for <%= @person.display_name %> <%= link_to 'New User Person Contribution',
                new_user_person_contrib_path(:person_id => @person.id),
                :class => 'btn btn-primary btn-mini' %></h2>
      <br>
      <b>No annotations exist.</b>
    </div>
    <% end %>
  </div>

  <div class="span5">
    <div class="well">
      <h2>Quicklinks for this Person</h2>
      <dl class="dl-horizontal">
        <dt><strong>Person Record:</strong></dt>
        <dd><%= link_to 'View',
                  controller: "people", action: "show", id: @person %></dd>
        <dt><strong>Relationships:</strong></dt>
        <dd><%= link_to 'View',
                  controller: "people", action: "relationships", id: @person %></dd>
        <dt><strong>Group Membership:</strong></dt>
        <dd><%= link_to 'View',
                  controller: "people", action: "membership", id: @person %></dd></dd>
        <dt><strong>Notes:</strong></dt>
        <dd><%= link_to 'View',
                  controller: "people", action: "notes", id: @person %></dd></dd>
      </dl>
    </div>    
  </div>
</div>

