<%- model_class = Person -%>

<div class="row">
  <div class="span12">
    <h1><%= @person.display_name %>
    </h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span7">
    <div class="well">
      <h2>Information
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin") || (current_user.user_type == "Curator")) %> 
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_person_path(@person), :class => 'btn btn-mini' %>
        <% end %>
      </h2>
      <br>
      <% person_data = @person %>
        <dl class="dl-horizontal">
          <dt><strong>Rel Sum:</strong></dt>
          <dd><%= person_data.rel_sum %></dd>
          <dt><strong>SDFB Person ID:</strong></dt>
          <dd><%= person_data.id %></dd>
          <dt><strong>ODNB ID:</strong></dt>
          <% if ! person_data.odnb_id.blank? %>
            <dd><%= person_data.odnb_id %></dd>
          <% else %>
            <dd>No ODNB ID recorded.</dd>
          <% end %>
          <% if ! person_data.title.blank? %>
            <dt><strong>Title:</strong></dt>
            <dd><%= person_data.title %></dd>
          <% end %>
          <% if ! person_data.prefix.blank? %>
            <dt><strong>Prefix:</strong></dt>
            <dd><%= person_data.prefix %></dd>
          <% end %>
          <dt><strong>First Name:</strong></dt>
          <dd><%= person_data.first_name %></dd>
          <% if ! person_data.last_name.blank? %>
            <dt><strong>Last Name:</strong></dt>
            <dd><%= person_data.last_name %></dd>
          <% end %>
          <% if ! person_data.suffix.blank? %>
            <dt><strong>Suffix:</strong></dt>
            <dd><%= person_data.suffix %></dd>
          <% end %>
          <dt><strong>Gender:</strong></dt>
          <dd><%= person_data.gender %></dd>
          <dt><strong>All Historical Aliases:</strong></dt>
          <% if ! person_data.search_names_all.blank? %>
            <dd><%= person_data.search_names_all %></dd>
          <% else %>
            <dd>No known identities recorded.</dd>
          <% end %>
          <dt><strong>Birth Year Type:</strong></dt>
          <% if ! person_data.birth_year_type.blank? %>
            <dd>
              <% if person_data.birth_year_type == "BF" %>
                <dd>Before</dd>
              <% elsif person_data.birth_year_type == "AF" %>
                <dd>After</dd>
              <% elsif person_data.birth_year_type == "IN" %>
                <dd>In</dd>
              <% elsif person_data.birth_year_type == "CA" %>
                <dd>Circa</dd>
              <% elsif person_data.birth_year_type == "BF/IN" %>
                <dd>Before or In</dd>
              <% elsif person_data.birth_year_type == "AF/IN" %>
                <dd>After or In</dd>
              <% end %>
            </dd>
          <% else %>
            <dd>Unknown</dd>
          <% end %>
          <dt><strong>Birth Year:</strong></dt>
          <% if ! person_data.ext_birth_year.blank? %>
            <dd><%= person_data.ext_birth_year %></dd>
          <% else %>
            Unknown
          <% end %>
          <% if ! person_data.alt_birth_year.blank? %>
            <dt><strong>Alternate Birth Year:</strong></dt>
            <dd><%= person_data.alt_birth_year %></dd>
          <% end %>
          <dt><strong>Death Year Type:</strong></dt>
          <% if ! person_data.death_year_type.blank? %>
            <dd>
              <% if person_data.death_year_type == "BF" %>
                <dd>Before</dd>
              <% elsif person_data.death_year_type == "AF" %>
                <dd>After</dd>
              <% elsif person_data.death_year_type == "IN" %>
                <dd>In</dd>
              <% elsif person_data.death_year_type == "CA" %>
                <dd>Circa</dd>
              <% elsif person_data.death_year_type == "BF/IN" %>
                <dd>Before or In</dd>
              <% elsif person_data.death_year_type == "AF/IN" %>
                <dd>After or In</dd>
              <% end %>
            </dd>
          <% else %>
            <dd>Unknown</dd>
          <% end %>
          <dt><strong>Death Year:</strong></dt>
          <% if ! person_data.death_year_type.blank? %>
            <dd><%= person_data.ext_death_year %></dd>
          <% else %>
            <dd>Unknown</dd>
          <% end %>
          <% if ! person_data.alt_death_year.blank? %>
            <dt><strong>Alternate Death Year:</strong></dt>
            <dd><%= person_data.alt_death_year %></dd>
          <% end %>
          <dt><strong>Historical Significance:</strong></dt>
          <% if ! person_data.historical_significance.blank? %>
            <dd><%= person_data.historical_significance %></dd>
          <% else %>
            <dd>No historical significance recorded.</dd>
          <% end %>
          <% if (! current_user.blank?) && ((current_user.user_type == "Admin") || (current_user.user_type == "Curator")) %>
            <!-- <dt><strong>Relationship Summary:</strong></dt>
            <dd><%= @person.rel_sum %></dd> -->
            <dt><strong>Created:</strong></dt>
            <dd><%= @person.created_at.strftime("%m/%d/%Y") %> by <%= link_to User.find(@person.created_by).username,  user_path(@person.created_by) %></dd>
            <% @last_edit = @person.last_edit %>
            <% if ! @last_edit.blank? %>
              <dt><strong>Last Edit:</strong></dt>
              <dd><%= @last_edit[1].strftime("%m/%d/%Y")%> by <%= link_to User.find(@last_edit[0]).username,  user_path(@last_edit[0]) %></dd>
            <% end %>
            <dt><strong>Is Approved?:</strong></dt>
            <dd><%= person_data.is_approved %></dd>
            <% if ! person_data.approved_by.blank? %>
              <dt><strong>Approved By:</strong></dt>
              <dd><%= link_to User.find(person_data.approved_by).username,  user_path(person_data.approved_by) %></dd>
            <% end %>
            <% if ! person_data.approved_on.blank? %>
              <dt><strong>Approved On:</strong></dt>
              <dd><%= person_data.approved_on %></dd>
            <% end %>
            <% if ! person_data.justification.blank? %>
              <dt><strong>Justification for Person Creation:</strong></dt>
              <dd><%= person_data.justification %></dd>
            <% end %>
            <dt><strong>Is Active:</strong></dt>
            <dd><%= person_data.is_active %></dd>
            <dt><strong>Is Rejected:</strong></dt>
            <dd><%= person_data.is_rejected %></dd>
          <% end %>
        </dl>
    </div>
    
  </div>

  <div class="span5">
    <div class="well">
      <h2>Quicklinks for this Person</h2>
      <dl class="dl-horizontal">
        <dt><strong>Person Record:</strong></dt>
        <dd><%= link_to 'View',
                  controller: "people", action: "show", id: @person %></dd>
        <dt><strong>Relationships:</strong></dt>
        <dd><%= link_to 'View',
                  controller: "people", action: "relationships", id: @person %></dd>
        <dt><strong>Group Membership:</strong></dt>
        <dd><%= link_to 'View',
                  controller: "people", action: "membership", id: @person %></dd></dd>
        <dt><strong>Notes:</strong></dt>
        <dd><%= link_to 'View',
                  controller: "people", action: "notes", id: @person %></dd></dd>
      </dl>
    </div>    
  </div>
</div>

