<p id="notice"><%= notice %></p>

<p>
  <b>Original:</b>
  <%= @person.original_id %>
</p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>Created by:</b>
  <%= @person.created_by %>
</p>

<p>
  <b>Birth year:</b>
  <%= @person.birth_year %>
</p>

<p>
  <b>Death year:</b>
  <%= @person.death_year %>
</p>

<p>
  <b>Historical significance:</b>
  <%= @person.historical_significance %>
</p>

<p>
  <b>Is approved:</b>
  <%= @person.is_approved %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
