<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Person id:</strong></dt>
  <dd><%= @person.id %></dd>
  <% if ! @person.odnb_id.blank? %>
    <dt><strong>ODNB id:</strong></dt>
    <dd><%= @person.odnb_id %></dd>
  <% end %>
  <% if ! @person.title.blank? %>
    <dt><strong>Title:</strong></dt>
    <dd><%= @person.title %></dd>
  <% end %>
  <% if ! @person.prefix.blank? %>
    <dt><strong>Prefix:</strong></dt>
    <dd><%= @person.prefix %></dd>
  <% end %>
  <dt><strong>First name:</strong></dt>
  <dd><%= @person.first_name %></dd>
  <% if ! @person.last_name.blank? %>
    <dt><strong>Last Name:</strong></dt>
    <dd><%= @person.last_name %></dd>
  <% end %>
  <% if ! @person.suffix.blank? %>
    <dt><strong>Suffix:</strong></dt>
    <dd><%= @person.suffix %></dd>
  <% end %>
  <% if ! @person.search_names_all.blank? %>
    <dt><strong>All known identities:</strong></dt>
    <dd><%= @person.search_names_all %></dd>
  <% end %>
  <dt><strong>Created by:</strong></dt>
  <dd><%= link_to User.find(@person.created_by).username,  user_path(@person.created_by) %></dd>
  <% if ! @person.birth_year_type.blank? %>
    <dt><strong>Birth Year Type:</strong></dt>
    <dd><%= @person.birth_year_type %></dd>
  <% end %>
  <dt><strong>Extant birth year:</strong></dt>
  <dd><%= @person.ext_birth_year %></dd>
  <% if ! @person.alt_birth_year.blank? %>
    <dt><strong>Alternate birth year:</strong></dt>
    <dd><%= @person.alt_birth_year %></dd>
  <% end %>
  <dt><strong>Death Year Type:</strong></dt>
  <dd><%= @person.death_year_type %></dd>
  <dt><strong>Extant death year:</strong></dt>
  <dd><%= @person.ext_death_year %></dd>
  <% if ! @person.alt_death_year.blank? %>
    <dt><strong>Alternate death year:</strong></dt>
    <dd><%= @person.alt_death_year %></dd>
  <% end %>
  <% if ! @person.historical_significance.blank? %>
    <dt><strong>Historical Significance:</strong></dt>
    <dd><%= @person.historical_significance %></dd>
  <% end %>
  <dt><strong>Relationship Summary:</strong></dt>
  <% if ! @person.rel_sum.empty? %>
    <dd><%= @person.rel_sum %></dd>
  <% else %>
    <dd>No relationships</dd>
  <% end %>
  <dt><strong>Approved by:</strong></dt>
  <dd><%= link_to User.find(@person.approved_by).username,  user_path(@person.approved_by) %></dd>
  <dt><strong>Approved on:</strong></dt>
  <dd><%= @person.approved_on %></dd>
  <% if ! @person.justification.blank? %>
    <dt><strong>Justification:</strong></dt>
    <dd><%= @person.justification %></dd>
  <% end %>
  <dt><strong>Created at:</strong></dt>
  <dd><%= @person.created_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              people_path, :class => 'btn'  %>
  <% if can? :update, @people %> 
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_person_path(@person), :class => 'btn' %>
  <% end %>
  <% if can? :destroy, @people %> 
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              person_path(@person),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>
