<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Person id:</strong></dt>
  <dd><%= @person.person_id %></dd>
  <dt><strong>ODNB id:</strong></dt>
  <dd><%= @person.odnb_id %></dd>
  <dt><strong>Title:</strong></dt>
  <dd><%= @person.title %></dd>
  <dt><strong>Prefix:</strong></dt>
  <dd><%= @person.prefix %></dd>
  <dt><strong>First name:</strong></dt>
  <dd><%= @person.first_name %></dd>
  <dt><strong>Last Name:</strong></dt>
  <dd><%= @person.last_name %></dd>
  <dt><strong>Suffix:</strong></dt>
  <dd><%= @person.suffix %></dd>
  <dt><strong>All known identities:</strong></dt>
  <dd><%= @person.search_names_all %></dd>
  <dt><strong>Created by:</strong></dt>
  <dd><%= 
  if @person.created_by.nil?
    'ODNB'
  else
    @person.created_by
  end
  %></dd>
  <dt><strong>Birth Year Type:</strong></dt>
  <dd><%= @person.birth_year_type %></dd>
  <dt><strong>Extant birth year:</strong></dt>
  <dd><%= @person.ext_birth_year %></dd>
  <dt><strong>Alternate birth year:</strong></dt>
  <dd><%= @person.alt_birth_year %></dd>
  <dt><strong>Death Year Type:</strong></dt>
  <dd><%= @person.death_year_type %></dd>
  <dt><strong>Extant death year:</strong></dt>
  <dd><%= @person.ext_death_year %></dd>
  <dt><strong>Alternate death year:</strong></dt>
  <dd><%= @person.alt_death_year %></dd>
  <dt><strong>Historical Significance:</strong></dt>
  <dd><%= @person.historical_significance %></dd>
  <dt><strong>Relationship Summary:</strong></dt>
  <dd><%= @person.rel_sum %></dd>
  <dt><strong>Approved by:</strong></dt>
  <dd><%= @person.approved_by %></dd>
  <dt><strong>Approved on:</strong></dt>
  <dd><%= @person.approved_on %></dd>
  <dt><strong>Justification:</strong></dt>
  <dd><%= @person.Justification %></dd>
  <dt><strong>Created at:</strong></dt>
  <dd><%= @person.created_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              people_path, :class => 'btn'  %>
  <% if can? :update, @people %> 
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_person_path(@person), :class => 'btn' %>
  <% end %>
  <% if can? :destroy, @people %> 
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              person_path(@person),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>
