<%= simple_form_for @user_person_contrib, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @user_person_contrib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_person_contrib.errors.count, "error") %> prohibited this user_person_contrib from being saved:</h2>

      <ul>
      <% @user_person_contrib.errors.full_messages.each do |msg| %>
        <br>
          <li>- <%= msg %></li>
        <br>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if ! @person_id.blank? %>
    <%= f.label :person_id %>
    <%= Person.find(@person_id).first_name + " " + Person.find(@person_id).last_name %>
    <%= f.hidden_field :person_id, :value => @person_id %>
  <% else %>    
    <%= f.input :person_id, as: :hidden %>
    <%= f.input :person_autocomplete, as: :autocomplete, url: autocomplete_person_search_names_all_user_person_contribs_path, input_html: { 'data-id-element' => '#user_person_contrib_person_id' }, label: "Person", placeholder: "name" %>
  <% end %>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <%= f.input :annotation, label: "Note" %>
  <%= f.input :bibliography, label: "Citation" %>
  <% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator") %>
    <%= f.input :is_approved %>
    <%= f.input :is_active %>
    <%= f.input :is_rejected %>
    <%= f.hidden_field :approved_by, :value => current_user.id %>
    <%= f.hidden_field :approved_on, :value => Time.now %>
  <% end %>
  <div class="form-actions">
    Please note that your submission will not appear on SDFB <br>
    until it is reviewed by a SDFB curator or administrator. <br>
    <%= f.button :submit, :class => 'btn btn-primary', :value => "Add Note to Person" %>
  </div>
<% end %>