<h1>All User Person Contributions</h1><br>

<div class="well">
  <div class="container">
    <div class="row">
      <div class="span8">
        <b>Add a new user person contribution</b></br>
        <%= link_to 'New User Person Contribution',
            new_user_person_contrib_path,
            :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User Person Contribution id</th>
      <th>Person</th>
      <th>Created by</th>
      <th>Annotation</th>
      <th>Bibliography</th>
      <th>Created at</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @user_person_contribs.each do |user_person_contrib| %>
      <tr>
        <td><%= user_person_contrib.id %></td>
        <td><%= link_to user_person_contrib.id, user_person_contrib_path(user_person_contrib) %></td>
        <td><%= user_person_contrib.person_id %></td>
        <td><%= user_person_contrib.created_by %></td>
        <td><%= user_person_contrib.annotation %></td>
        <td><%= user_person_contrib.bibliography %></td>
        <td><%=l user_person_contrib.created_at %></td>
        <td>
          <% if can? :show, user_person_contrib %>
            <%= link_to 'Show', user_person_contrib, :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :update, user_person_contrib %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_person_contrib_path(user_person_contrib), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :destroy, user_person_contrib %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_person_contrib_path(user_person_contrib),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @user_person_contribs, :param_name => 'user_person_contribs_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
