<%- model_class = UserPersonContrib -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>User Person Contribution id:</strong></dt>
  <dd><%= @user_person_contrib.id %></dd>
  <dt><strong>Person:</strong></dt>
  <dd><%= link_to Person.find(@user_person_contrib.person_id).get_person_name,  person_path(@user_person_contrib.person_id) %></dd>
  <dt><strong>Created by:</strong></dt>
  <dd><%= link_to User.find(@user_person_contrib.created_by).username,  user_path(@user_person_contrib.created_by) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:annotation) %>:</strong></dt>
  <dd><%= @user_person_contrib.annotation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bibliography) %>:</strong></dt>
  <dd><%= @user_person_contrib.bibliography %></dd>
  <dt><strong>Created at:</strong></dt>
  <dd><%= @user_person_contrib.created_at %></dd>
  <dt><strong>Is Approved?:</strong></dt>
  <dd><%= @user_person_contrib.is_approved %></dd>
  <% if ! @user_person_contrib.approved_by.blank? %>
    <dt><strong>Approved by:</strong></dt>
    <dd><%= link_to User.find(@user_person_contrib.approved_by).username,  user_path(@user_person_contrib.approved_by) %></dd>
  <% end %>
  <% if ! @user_person_contrib.approved_by.blank? %>
    <dt><strong>Approved on:</strong></dt>
    <dd><%= @user_person_contrib.approved_on %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              user_person_contribs_path, :class => 'btn'  %>
  <% if can? :update, @user_person_contrib %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_person_contrib_path(@user_person_contrib), :class => 'btn' %>
  <% end %>
</div>
