<%- model_class = UserPersonContrib -%>
<div class="row">
  <div class="span12">
    <h1>Person Annotation</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span5">
    <div class="well">
      <h2>Information
        <% if can? :update, @user_person_contrib %> 
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_user_person_contrib_path(@user_person_contrib), :class => 'btn btn-mini' %>
        <% end %>
      </h2>
      <br>
      <dl class="dl-horizontal">
        <dt><strong>Id:</strong></dt>
        <dd><%= @user_person_contrib.id %></dd>
        <dt><strong>Person:</strong></dt>
        <dd><%= link_to Person.find(@user_person_contrib.person_id).get_person_name,  person_path(@user_person_contrib.person_id) %></dd>
        <dt><strong>Created by:</strong></dt>
        <dd><%= link_to User.find(@user_person_contrib.created_by).username,  user_path(@user_person_contrib.created_by) %></dd>
        <dt><strong>Annotation:</strong></dt>
        <dd><%= @user_person_contrib.annotation %></dd>
        <% if ! @user_person_contrib.bibliography.blank? %>
          <dt><strong>Bibliography:</strong></dt>
          <dd><%= @user_person_contrib.bibliography %></dd>
        <% end %>
        <dt><strong>Created at:</strong></dt>
        <dd><%= @user_person_contrib.created_at %></dd>
        <dt><strong>Is Approved?:</strong></dt>
        <dd><%= @user_person_contrib.is_approved %></dd>
        <% if ! @user_person_contrib.approved_by.blank? %>
          <dt><strong>Approved by:</strong></dt>
          <dd><%= link_to User.find(@user_person_contrib.approved_by).username,  user_path(@user_person_contrib.approved_by) %></dd>
        <% end %>
        <% if ! @user_person_contrib.approved_by.blank? %>
          <dt><strong>Approved on:</strong></dt>
          <dd><%= @user_person_contrib.approved_on %></dd>
        <% end %>
        <dt>Edit History</dt>
        <% if ! @user_person_contrib.edited_by_on.blank? %>
          <dd><%= @user_person_contrib.edited_by_on %></dd>
        <% else %>
          <dd>No edits have been made.</dd>
        <% end %>
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin") || (current_user.user_type == "Curator")) %>
          <dt>Is Active</dt>
          <dd><%= @user_person_contrib.is_active %></dd>
          <dt>Is Rejected</dt>
          <dd><%= @user_person_contrib.is_rejected %></dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>
