<h1> Uploading Your Data to SDFB </h1>
	<div class="form-actions">

	<h2> Instructions </h2>
		<p>
			Your uploaded file must be a CSV (Comma Seperated Values) file. It is recommended that you create the file with Excel or Numbers and then export as a CSV for simplicity. The file must contain a header row with any of the following labels (labels with an asterisk are required - do not include the asterisks in the file) : 
		</p>
		<p>
			Person Headers: *first_name, *last_name, *ext_birth_year, *ext_death_year, *gender, odnb_id, historical_significance, prefix, suffix, title, birth_year_type, ext_birth_year, alt_birth_year, death_year_type, ext_death_year, alt_death_year, justification
			
		</p>
		<p>
			Relationship Headers: *first_name 1, *last_name 1, *first_name 2, *last_name 2, *original_certainty, max_certainty, start_year, start_month, start_day, end_year, end_month, end_day, start_date_type, end_date_type
			
		</p>
		<p>
			Group Headers: *name, *description, *first_name, *last_name, justification, start_year, end_year, start_date_type, end_date_type 
			
		</p>
		<p>
			Headers are case sensitive and the only way of identifying your information to the database. Any headers included that are not a part of the approved list above will be ignored along with everything in that header's column. All headers with an asterisk are required to not have any empty cells in its column. This feature requires that if you are submitting a relationship or group data file that contains people not already in our database then you must first submit a seperate CSV file that contains all the people you wish to add from your other files.
		</p><br><br>
		<h2> Sample Files </h2>

			<%= link_to "Properly Formatted Person File", "person_practice.csv" %><br>
			<%= link_to "Properly Formatted Relationship File", "relationship_practice.csv" %><br>
			<%= link_to "Properly Formatted Group File", "group_practice.csv" %><br>
			<br><br>
	 	<h2> Submit </h2>
	 	<% if !@errors.nil? %>
	 		<p> Your submission has the following errors. Please fix and resubmit. </p>
	 		<%= @errors %>
	 	<% end %>
	    <%= form_for @data_file , :url => {action: 'confirm_people'}, method: 'post', :html => { :multipart => true } do |f| %>
		    <%= f.label(:table_file_name, "File Name") %>
		  	<%= f.text_field :table_file_name %>
		  	<%= f.label(:table_content_type, "Data Type") %>
		  	<%= f.select :table_content_type, [["Person", "Person"], ["Relationship","Relationship"], ["Group","Group"]] %>
		  	<%= f.label(:upload_data, "Choose File") %>
			<%= f.file_field :upload_data %> <br>
			<br>
			<br>
			<%= f.button :submit, :class => 'btn btn-primary', :value => "Upload File to SDFB" %>
		<% end %>
  	</div>