
  <div class="w-section form-section">
    <div class="w-form relationship-form-start-form-wrapper">
      <%= simple_form_for @group, html: { id: "wf-form-group-Contribution", class: "group-form" }, :url => 'reroute_group_form', method: :get do |f| %>
        <div class="w-container intro-wrapper">
          <div class="six-degrees-form-heading">
            <div data-ix="load-reveal" class="six-degrees-form-heading"><strong class="text"> &nbsp; GROUP CONTRIBUTION</strong>
            </div>
          </div>
        </div>
        <div data-ix="click-to-reveal-relationship-text" class="question-mark-div">
          <%= image_tag("question_mark.png", class: "person-question-mark") %>
        </div>
        <div>
          <div class="relationship-question-text"><strong>Note:</strong>&nbsp;Search for the name of an existing group in the drop down below. If the group you are looking for <strong>does not yet exist</strong>, select 'Create New Group' and you will be taken to create a new group. If the group <strong>does exist</strong>, you will be asked to add a person to the group.</div>
        </div>
        <div data-ix="load-reveal-3" class="relationship-start-div">
          <label for="Group" class="rel-label-1">Group*:</label>
          <%= f.input :name, as: :hidden %>
          <%= f.input :id, :collection => @groupOptions.collect{ |g| [g.name, g.id] }, input_html: { 'data-id-element' => '#name', id: "group", class: "w-input rel-field-1" }, label: false, prompt: "Create New Group" %>
          <div data-ix="load-reveal-4" class="relationship-start-button-div">
            <%= f.submit "CONTINUE", class: "w-button relationship-start-button"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>