<%= simple_form_for @relationship, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relationship.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @relationship.errors.full_messages.each do |msg| %>
        <br>
        <li>- <%= msg %></li>
        <br>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if ! @person1_id.blank? %>
    <%= f.input :person1_index, :collection =>@personOptions.collect{ |p| [p.first_name + " " + p.last_name, p.id] }, label: "Person 1", prompt: "Select", selected: @person1_id %>
  <% else %>
    <%= f.input :person1_index, :collection =>@personOptions.collect{ |p| [p.first_name + " " + p.last_name, p.id] }, label: "Person 1", prompt: "Select" %>
  <% end %>
  <%= f.input :person2_index, :collection =>@personOptions.collect{ |p| [p.first_name + " " + p.last_name, p.id] }, label: "Person 2", prompt: "Select" %>
  <br>
  <%= f.label :original_certainty, label: "Estimated Certainty" %>
  <%= f.range_field :original_certainty, :min=>0, :max=>100, :class=>"slide", :id=>"slider1"%>
  <br>
  <% if ! @relationship.original_certainty.blank? %>
    <text id="formConfidence">Possible relationships @ <%= @relationship.original_certainty %>%</text><br>
  <% else %>
    <text id="formConfidence">Possible relationships @ 50%</text><br>
  <% end %>
  <br>

  <%= f.label :start_month, label: "Start Date" %>
  <%= f.input :start_month, label: "Start Date", :collection =>["January","February","March","April","May","June","July","August","September","October","November","December"], label: false, prompt: "Month", :include_blank => true %>
  <%= f.input :start_day, label: false, :collection => 1..31, prompt: "Day", :include_blank => true %>
  <%= f.input :start_year, as: :string, label: false, placeholder: "Year"%>

  <%= f.label :end_month, label: "End Date" %>
  <%= f.input :end_month, :collection =>["January","February","March","April","May","June","July","August","September","October","November","December"], label: false, prompt: "Month", :include_blank => true %>
  <%= f.input :end_day, label: false, :collection => 1..31, prompt: "Day", :include_blank => true %>
  <%= f.input :end_year, label: false, as: :string, placeholder: "Year" %>

  <%= f.input :justification, input_html: { rows:"5" }, required: true %>
  <% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator") %>
    <%= f.input :is_approved %>
    <% if @is_approved == false %>
      <%= f.hidden_field :approved_by, :value => current_user.id %>
      <%= f.hidden_field :approved_on, :value => Time.now %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
