<%= form_for(@relationship) do |f| %>
  <% if @relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relationship.errors.count, "error") %> prohibited this relationship from being saved:</h2>

      <ul>
      <% @relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :average_certainty %><br />
    <%= f.text_field :average_certainty %>
  </div>
  <div class="field">
    <%= f.label :is_approved %><br />
    <%= f.check_box :is_approved %>
  </div>
  <div class="field">
    <%= f.label :original_certainty %><br />
    <%= f.text_field :original_certainty %>
  </div>
  <div class="field">
    <%= f.label :person1_index %><br />
    <%= f.number_field :person1_index %>
  </div>
  <div class="field">
    <%= f.label :person2_index %><br />
    <%= f.number_field :person2_index %>
  </div>
  <div class="field">
<!--     <%= f.label :created_by %><br /> -->
    <%= f.hidden_field :created_by, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
