<%= simple_form_for @relationship, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relationship.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :original_certainty %>

  <%= f.input :person1_index, :collection =>@personOptions.collect{ |p| [p.first_name + " " + p.last_name, p.id] }, label: "Person 1", prompt: "Select" %>

  <%= f.input :person2_index, :collection =>@personOptions.collect{ |p| [p.first_name + " " + p.last_name, p.id] }, label: "Person 2", prompt: "Select" %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :justification %>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <%= f.hidden_field :approved_by, :value => nil %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                relationships_path, :class => 'btn' %>
  </div>
<% end %>