
<body class="body">
  <div class="w-section form-section">
    <div class="w-form relationship-form-start-form-wrapper">
      <%= simple_form_for @relationship, html: { id: "wf-form-relationship-Contribution", class: "relationship-form" }, :url => 'reroute_relationship_form', method: :get do |f| %>
        <div class="w-container intro-wrapper">
          <div class="six-degrees-form-heading">
            <div data-ix="load-reveal" class="six-degrees-form-heading"><strong class="text"> &nbsp; RELATIONSHIP CONTRIBUTION</strong>
            </div>
          </div>
        </div>
        <div data-ix="click-to-reveal-relationship-text" class="question-mark-div">
          <%= image_tag("question_mark.png", class: "person-question-mark") %>
        </div>
        <div>
          <div class="relationship-question-text"><strong>Note:</strong>&nbsp;Input the names of two individuals into the <em>Person 1</em> and <em>Person 2</em> fields. If a relationship between the two people <strong>does not exist</strong> in the database, you will be asked to create a new <strong>relationship </strong>for them. If a relationship between the two people <strong>does exist</strong>, you will be asked to specify a <strong>relationship type </strong>(e.g. friends, enemies, married) for them.</div>
        </div>
        <div data-ix="load-reveal-3" class="relationship-start-div">
          <label for="Person" class="label-1">Person 1*:</label>
            <%= f.input :person1_index, as: :hidden %>
            <%= f.input :person1_autocomplete, as: :autocomplete, url: autocomplete_person_search_names_all_relationships_path, input_html: { 'data-id-element' => '#relationship_person1_index', id: "person1", class: "w-input field-2"}, label: false, placeholder: 'Name' %>
          <label for="Person-2" class="label-1">Person 2*:</label>
            <%= f.input :person2_index, as: :hidden %>
            <%= f.input :person2_autocomplete, as: :autocomplete, url: autocomplete_person_search_names_all_relationships_path, input_html: { 'data-id-element' => '#relationship_person2_index', id: "person2", class: "w-input field-2"}, label: false, placeholder: 'Name' %>
          <div data-ix="load-reveal-4" class="relationship-start-button-div">
            <%# Need to create if statement testing if the two individuals know each other; if @person_1 and @person_2 already have relationship, go to existing. If not, go to not_existing.! %>
            <%= f.submit "CONTINUE", class: "w-button relationship-start-button"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
     
</body>