<%= simple_form_for @relationship, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :average_certainty %>
  <%= f.input :is_approved %>
  <%= f.input :original_certainty %>
  <%= f.input :person1_index %>
  <%= f.input :person2_index %>
  <%= f.input :created_by %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                relationships_path, :class => 'btn' %>
  </div>
<% end %>
