<h1>Listing relationships</h1>

<table>
  <tr>
    <th>Person 1</th>
    <th>Person 2</th>
    <% if current_user != nil %>
        <% if current_user.is_admin %>
            <th>Original Certainty</th>
        <% end %>
    <% end %>
    <% if current_user != nil %>
        <% if current_user.is_admin %>
            <th>Average Certainty</th>
        <% else %>
            <th></th>
        <% end %>
    <% end %>
    <% if current_user != nil %>
        <% if current_user.is_admin %>
            <th>Created by</th>
        <% end %>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @relationships_approved.each do |relationship| %>
  <tr>
    <td><%= link_to relationship.get_person1_name, person_path(relationship.person1_index) %></td>
    <td><%= link_to relationship.get_person2_name, person_path(relationship.person2_index) %></td>
    <% if current_user != nil %>
        <% if current_user.is_admin %>
            <td><%= relationship.original_certainty %></td>
        <% end %>
    <% end %>
    <td><%= relationship.average_certainty %></td>
    <% if current_user != nil %>
        <% if current_user.is_admin %>
            <td><%= relationship.get_users_name %></td>
        <% end %>
    <% end %>
    <% if can? :show, relationship %>
        <td><%= link_to 'Show', relationship %></td>
    <% end %>
    <% if can? :update, relationship %>
        <td><%= link_to 'Edit', edit_relationship_path(relationship) %></td>
    <% end %>
    <% if can? :destroy, relationship %>
        <td><%= link_to 'Destroy', relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Relationship', new_relationship_path %>
