<h1>Listing relationships</h1>

<table>
  <tr>
    <th>Average certainty</th>
    <th>Is approved</th>
    <th>Original certainty</th>
    <th>Person1 index</th>
    <th>Person2 index</th>
    <th>Created by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @relationships.each do |relationship| %>
  <tr>
    <td><%= relationship.average_certainty %></td>
    <td><%= relationship.is_approved %></td>
    <td><%= relationship.original_certainty %></td>
    <td><%= relationship.person1_index %></td>
    <td><%= relationship.person2_index %></td>
    <td><%= relationship.created_by %></td>
    <% if can? :show, relationship %>
        <td><%= link_to 'Show', relationship %></td>
    <% end %>
    <% if can? :update, relationship %>
        <td><%= link_to 'Edit', edit_relationship_path(relationship) %></td>
    <% end %>
    <% if can? :destroy, relationship %>
        <td><%= link_to 'Destroy', relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Relationship', new_relationship_path %>
