<%- model_class = Relationship -%>
<div class="page-header">
  <h1>All Relationships</h1>
</div>
<%= link_to 'New Relationship',
            new_relationship_path,
            :class => 'btn btn-primary' %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Relationship id</th>
      <th>Person 1</th>
      <th>Person 2</th>
      <% if current_user != nil %>
          <% if (current_user.user_type == "Admin")  %>
              <th>Original Certainty</th>
          <% end %>
      <% end %>
      <th>Original Certainty</th>
      <th>Maximum Certainty</th>
      <% if current_user != nil %>
          <% if (current_user.user_type == "Admin")  %>
              <th>Created by</th>
          <% end %>
      <% end %>
      <th>Birth Year Accuracy</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Justification</th>
      <th>Approved by</th>
      <th>Approved on</th>
      <th>Created at</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @relationships.each do |relationship| %>
      <tr>
        <td><%= relationship.id %></td>
        <td><%= link_to relationship.get_person1_name, person_path(relationship.person1_index) %></td>
        <td><%= link_to relationship.get_person2_name, person_path(relationship.person2_index) %></td>
        <% if current_user != nil %>
            <% if (current_user.user_type == "Admin")  %>
                <td><%= relationship.original_certainty %></td>
            <% end %>
        <% end %>
        <td><%= relationship.original_certainty %></td>
        <td><%= relationship.max_certainty %></td>
        <% if current_user != nil %>
            <% if (current_user.user_type == "Admin")  %>
                <td><%= relationship.get_users_name %></td>
            <% end %>
        <% end %>
        <td><%= relationship.edge_birthdate_certainty %></td>
        <td><%= relationship.start_date %></td>
        <td><%= relationship.end_date %></td>
        <td><%= relationship.justification %></td>
        <td><%= relationship.approved_by %></td>
        <td><%= relationship.approved_on %></td>
        <td><%= relationship.created_at %></td>
        <td>
          <% if can? :show, relationship %>
            <%= link_to 'Show', relationship %>
          <% end %>
          <% if can? :update, relationship %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_relationship_path(relationship), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :destroy, relationship %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        relationship_path(relationship),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @relationships, :param_name => 'relationships_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
