<% content_for :title, "Relationships" %>

<h1>All Relationships <%= link_to 'Create Relationship', new_relationship_path, :class => 'btn btn-primary' %><%=link_to 'Export Data', '/export_relationships', :class => 'btn btn-primary'%></h1>
<div class="well">
  <%= render 'rel_search_box' %>
</div>
<br>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>SDFB Relationship ID</th>
      <th>Person 1</th>
      <th>Person 2</th>
      <th>Maximum Certainty</th>
      <th>Start Date Type</th>
      <th>Start Date</th>
      <th>End Date Type</th>
      <th>End Date</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @approved_relationships.each do |relationship| %>
      <tr>
        <td><%= relationship.id %></td>
        <td><%= link_to relationship.get_person1_name, person_path(relationship.person1_index) %></td>
        <td><%= link_to relationship.get_person2_name, person_path(relationship.person2_index) %></td>
        <td><%= relationship.max_certainty %>%</td>
        <td>
        <% if ! relationship.start_date_type.blank? %>
            <% if relationship.start_date_type == "BF" %>
              Before
            <% elsif relationship.start_date_type == "AF" %>
              After
            <% elsif relationship.start_date_type == "IN" %>
              In
            <% elsif relationship.start_date_type == "CA" %>
              Circa
            <% elsif relationship.start_date_type == "BF/IN" %>
              Before or In
            <% elsif relationship.start_date_type == "AF/IN" %>
              After or In
            <% end %>   
          <% else %>
            Unknown
          <% end %>
        </td>
        <td>
          <% if ((! relationship.start_month.blank?) || (! relationship.start_day.blank?) || (! relationship.start_year.blank?)) %>
            <% if ! relationship.start_month.blank? %>
              <%= relationship.start_month %>
            <% end %>  
            <% if ! relationship.start_day.blank? %>
              <%= relationship.start_day %>,
            <% end %>
            <% if ! relationship.start_year.blank? %>
              <%= relationship.start_year %>
            <% end %>
          <% else %>
            Unknown
          <% end %>
        </td>
        <td>
          <% if ! relationship.end_date_type.blank? %> 
              <% if relationship.end_date_type == "BF" %>
                Before
              <% elsif relationship.end_date_type == "AF" %>
                After
              <% elsif relationship.end_date_type == "IN" %>
                In
              <% elsif relationship.end_date_type == "CA" %>
                Circa
              <% elsif relationship.end_date_type == "BF/IN" %>
                Before or In
              <% elsif relationship.end_date_type == "AF/IN" %>
                After or In
              <% end %>
              <% else %>
            <dd>Unknown</dd>
          <% end %>
        </td>
        
        <td>
          <% if ((! relationship.end_month.blank?) || (! relationship.end_day.blank?) || (! relationship.end_year.blank?)) %>
          <% if ! relationship.end_month.blank? %>
            <%= relationship.end_month %>
          <% end %>  
          <% if ! relationship.end_day.blank? %>
            <%= relationship.end_day %>,
          <% end %>
          <% if ! relationship.end_year.blank? %>
            <%= relationship.end_year %>
          <% end %>
          <% else %>
            Unknown
          <% end %>
        </td>
        <td>
          <% if can? :show, relationship %>
            <%= link_to 'Show', relationship, :class => 'btn btn-mini'  %>
          <% end %>
          <% if can? :update, relationship %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_relationship_path(relationship), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :delete, relationship %>
            <%= link_to 'Delete', relationship, :class => 'btn btn-mini btn-danger',method: :delete, data: { confirm: 'Are you sure that you want to permanently delete this record and all associated records?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @approved_relationships, :param_name => 'approved_relationships_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
