<h1>All Relationships <%= link_to 'New Relationship', new_relationship_path, :class => 'btn btn-primary' %></h1><br>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Relationship id</th>
      <th>Person 1</th>
      <th>Person 2</th>
      <% if current_user != nil %>
          <% if (current_user.user_type == "Admin")  %>
              <th>Original Certainty</th>
          <% end %>
      <% end %>
      <th>Maximum Certainty</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @approved_relationships.each do |relationship| %>
      <tr>
        <td><%= relationship.id %></td>
        <td><%= link_to relationship.get_person1_name, person_path(relationship.person1_index) %></td>
        <td><%= link_to relationship.get_person2_name, person_path(relationship.person2_index) %></td>
        <% if current_user != nil %>
            <% if (current_user.user_type == "Admin")  %>
                <td><%= relationship.original_certainty %></td>
            <% end %>
        <% end %>
        <td><%= relationship.max_certainty %></td>
        <td><%= relationship.start_date %></td>
        <td><%= relationship.end_date %></td>
        <td>
          <% if can? :show, relationship %>
            <%= link_to 'Show', relationship, :class => 'btn btn-mini'  %>
          <% end %>
          <% if can? :update, relationship %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_relationship_path(relationship), :class => 'btn btn-mini' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @approved_relationships, :param_name => 'approved_relationships_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
