<%- model_class = Relationship -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Relationship id:</strong></dt>
  <dd><%= @relationship.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:max_certainty) %>:</strong></dt>
  <dd><%= @relationship.max_certainty %></dd>
  <dt><strong><%= model_class.human_attribute_name(:original_certainty) %>:</strong></dt>
  <dd><%= @relationship.original_certainty %></dd>
  <dt><strong><%= model_class.human_attribute_name(:person1_index) %>:</strong></dt>
  <dd><%= @relationship.person1_index %></dd>
  <dt><strong><%= model_class.human_attribute_name(:person2_index) %>:</strong></dt>
  <dd><%= @relationship.person2_index %></dd>>
  <dt><strong>Start date:</strong></dt>
  <dd><%= @relationship.start_date %></dd>
  <dt><strong>End date:</strong></dt>
  <dd><%= @relationship.end_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= @relationship.created_by %></dd>
  <dt><strong>Approved by:</strong></dt>
  <dd><%= @relationship.approved_by %></dd>
  <dt><strong>Approved on:</strong></dt>
  <dd><%= @relationship.approved_on %></dd>
  <dt><strong>Justification:</strong></dt>
  <dd><%= @relationship.justification %></dd>
  <dt><strong>Created at:</strong></dt>
  <dd><%= @relationship.created_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              relationships_path, :class => 'btn'  %>
  <% if can? :update, @relationship %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_relationship_path(@relationship), :class => 'btn' %>
  <% end %>
  <% if can? :destroy, @relationship %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              relationship_path(@relationship),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>
