<%- model_class = Relationship -%>

<div class="row">
  <div class="span12">
    <h1>Relationship: <%= @relationship.get_person1_name + " & " + @relationship.get_person2_name%>
    </h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span5">
    <div class="well">
      <h2>Information
        <% if can? :update, @relationship %> 
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_relationship_path(@relationship), :class => 'btn btn-mini' %>
        <% end %>
      </h2>
      <br>
      <dl class="dl-horizontal">
        <dt><strong>Relationship id:</strong></dt>
        <dd><%= @relationship.id %></dd>
        <dt><strong>Max Certainty:</strong></dt>
        <dd><%= @relationship.max_certainty %>%</dd>
        <dt><strong>Original Certainty:</strong></dt>
        <dd><%= @relationship.original_certainty %>%</dd>
        <dt><strong>Person 1:</strong></dt>
        <dd><%= link_to @relationship.get_person1_name,  person_path(@relationship.person1_index) %></dd>
        <dt><strong>Person 2:</strong></dt>
        <dd><%= link_to @relationship.get_person2_name,  person_path(@relationship.person2_index) %></dd>
        <% if ((! @relationship.start_month.blank?) || (! @relationship.start_day.blank?) || (! @relationship.start_year.blank?)) %>
          <dt><strong>Start date:</strong></dt>
          <dd><% if ! @relationship.start_month.blank? %>
            <%= @relationship.start_month %>
          <% end %>  
          <% if ! @relationship.start_day.blank? %>
            <%= @relationship.start_day %>,
          <% end %>
          <% if ! @relationship.start_year.blank? %>
            <%= @relationship.start_year %>
          <% end %></dd>
        <% end %>
        <% if ((! @relationship.end_month.blank?) || (! @relationship.end_day.blank?) || (! @relationship.end_year.blank?)) %>
          <dt><strong>End date:</strong></dt>
          <dd><% if ! @relationship.end_month.blank? %>
            <%= @relationship.end_month %>
          <% end %>  
          <% if ! @relationship.end_day.blank? %>
            <%= @relationship.end_day %>,
          <% end %>
          <% if ! @relationship.end_year.blank? %>
            <%= @relationship.end_year %>
          <% end %></dd>
        <% end %>
        <dt><strong>Created by:</strong></dt>
        <dd><%= link_to User.find(@relationship.created_by).username,  user_path(@relationship.created_by) %></dd>
        <dt><strong>Is Approved?:</strong></dt>
        <dd><%= @relationship.is_approved %></dd>
        <% if ! @relationship.approved_by.blank? %>
          <dt><strong>Approved by:</strong></dt>
          <dd><%= link_to User.find(@relationship.approved_by).username,  user_path(@relationship.approved_by) %></dd></dd>
        <% end %>
        <% if ! @relationship.approved_by.blank? %>
          <dt><strong>Approved on:</strong></dt>
          <dd><%= @relationship.approved_on %></dd>
        <% end %>
        <% if ! @relationship.justification.blank? %>
          <dt><strong>Justification:</strong></dt>
          <dd><%= @relationship.justification %></dd>
        <% end %>
        <dt><strong>Created at:</strong></dt>
        <dd><%= @relationship.created_at %></dd>
        <dt>Edit History</dt>
        <% if ! @relationship.edited_by_on.blank? %>
          <dd><%= @relationship.edited_by_on %></dd>
        <% else %>
          <dd>No edits have been made.</dd>
        <% end %>
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin") || (current_user.user_type == "Curator")) %>
          <dt>Is Active</dt>
          <dd><%= @relationship.is_active %></dd>
          <dt>Is Rejected</dt>
          <dd><%= @relationship.is_rejected %></dd>
        <% end %>
      </dl>
    </div>
  </div>

  <div class="span7">
    <% if ! @user_rel_contribs.empty? %>
      <div class="well">
      <h2>Relationship Types for <%= @relationship.get_person1_name + " & " + @relationship.get_person2_name%> <%= link_to 'Assign New Relationship Type',
                  new_user_rel_contrib_path(:relationship_id => @relationship.id),
                  :class => 'btn btn-primary btn-mini' %></h2>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Id</th>
            <th>Relationship</th>
            <th>Relationship type</th>
            <th>Confidence</th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @user_rel_contribs.each do |user_rel_contrib| %>
            <tr>
              <td><%= user_rel_contrib.id %></td>
              <td><%= link_to user_rel_contrib.get_both_names, relationship_path(user_rel_contrib.relationship_id) %></td>
              <td><%= link_to RelationshipType.find(user_rel_contrib.relationship_type).name, relationship_type_path(user_rel_contrib.relationship_type) %></td>
              <td><%= user_rel_contrib.certainty %>%</td>
              <td>
                <% if can? :show, user_rel_contrib %>
                  <%= link_to 'Show', user_rel_contrib, :class => 'btn btn-mini' %>
                <% end %>
                <% if can? :update, user_rel_contrib %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_user_rel_contrib_path(user_rel_contrib), :class => 'btn btn-mini' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @user_rel_contribs, :param_name => 'user_rel_contribs_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>

      </div>
    <% else %>
      <div class="well">
        <h2>Relationship Types for <%= @relationship.get_person1_name + " & " + @relationship.get_person2_name%> <%= link_to 'Assign New Relationship Type',
                  new_user_rel_contrib_path(:relationship_id => @relationship.id),
                  :class => 'btn btn-primary btn-mini' %></h2>
        <br>
        <b>No relationship types have been assigned to this relationship.</b>
      </div>
    <% end %>
  </div>

</div>

