<p id="notice"><%= notice %></p>

<p>
  <b>Person1 index:</b>
  <%= @relationship.person1_index %>
</p>

<p>
  <b>Person2 index:</b>
  <%= @relationship.person2_index %>
</p>

<p>
  <b>Original certainty:</b>
  <%= @relationship.original_certainty %>
</p>

<p>
  <b>Average certainty:</b>
  <%= @relationship.average_certainty %>
</p>

<p>
  <b>Is approved:</b>
  <%= @relationship.is_approved %>
</p>


<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
