<div class="row">
  <div class="span12">
    <h1>Relationship Category: <%= @relationship_category.name %>
    </h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span5">
    <div class="well">
      <h2>Information
        <% if can? :update, @relationship_category %> 
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_relationship_category_path(@relationship_category), :class => 'btn btn-mini' %>
        <% end %>
      </h2>
      <br>
      <dl class="dl-horizontal">
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin") || (current_user.user_type == "Curator")) %>
          <dt><strong>SDFB Rel. Category ID:</strong></dt>
          <dd><%= @relationship_category.id %></dd>
        <% end %>
        <dt><strong>Category Name:</strong></dt>
        <dd><%= @relationship_category.name %></dd>
        <% if ! @relationship_category.description.blank? %>
          <dt>Description:</strong></dt>
          <dd><%= @relationship_category.description %></dd>
        <% end %>
        <% if (! current_user.blank?) && (current_user.user_type == "Admin") %>
          <dt><strong>Created:</strong></dt>
          <dd><%= @relationship_category.created_at.strftime("%m/%d/%Y") %> by <%= link_to User.find(@relationship_category.created_by).username,  user_path(@relationship_category.created_by) %></dd>
          <% @last_edit = @relationship_category.last_edit %>
          <% if ! @last_edit.blank? %>
            <dt><strong>Last Edit:</strong></dt>
            <dd><%= @last_edit[1].strftime("%m/%d/%Y")%> by <%= link_to User.find(@last_edit[0]).username,  user_path(@last_edit[0]) %></dd>
          <% end %>
          <dt><strong>Is Approved?:</strong></dt>
          <dd><%= @relationship_category.is_approved %></dd>
          <% if ! @relationship_category.approved_by.blank? %>
            <dt><strong>Approved By:</strong></dt>
            <dd><%= link_to User.find(@relationship_category.approved_by).username,  user_path(@relationship_category.approved_by) %></dd>
          <% end %>
          <% if ! @relationship_category.approved_on.blank? %>
            <dt><strong>Approved On:</strong></dt>
            <dd><%= @relationship_category.approved_on %></dd>
          <% end %>
        <% end %>
        <% if (! current_user.blank?) && (current_user.user_type == "Admin") %>
          <dt><strong>Is Active:</strong></dt>
          <dd><%= @relationship_category.is_active %></dd>
          <dt><strong>Is Rejected:</strong></dt>
          <dd><%= @relationship_category.is_rejected %></dd>
        <% end %>
      </dl>
    </div>
  </div>
  <div class = "span7">
    <div class="well">
      <h2>All Relationship Type Assignments for <%= @relationship_category.name %><% if ! current_user.nil? && (current_user.user_type == "Admin")%><%= link_to 'New Relationship Type Assignment', new_rel_cat_assign_path(:rel_cat_id => @relationship_category.id), :class => 'btn btn-primary btn-mini' %><% end %></h2><br>
      <% if ! @rel_cat_assigns_approved.empty? %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>SDFB Rel. Type Assignment ID</th>
              <th>Relationship Type Name</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @rel_cat_assigns_approved.each do |rel_cat_assign| %>
              <tr>
                <td><%= rel_cat_assign.id %></td>
                <td><%= link_to RelationshipType.find(rel_cat_assign.relationship_type_id).name, relationship_type_path(rel_cat_assign.relationship_type_id) %></td>
                <td>
                  <% if can? :show, rel_cat_assign %>
                    <%= link_to 'Show', rel_cat_assign, :class => 'btn btn-mini' %>
                  <% end %>
                  <% if can? :update, rel_cat_assign %>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                    edit_rel_cat_assign_path(rel_cat_assign), :class => 'btn btn-mini' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= will_paginate @rel_cat_assigns_approved, :param_name => 'rel_cat_assigns_approved_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
      <% else %>
        No relationship type assignments exist.
      <% end %>
    </div>
  </div>
</div>