<h1>Listing groups</h1>

<table>
  <tr>
    <th>Created by</th>
    <th>Name</th>
    <th>Description</th>
    <th>Is approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.get_users_name %></td>
    <td><%= group.name %></td>
    <td><%= group.description %></td>
    <td><%= group.is_approved %></td>
    <% if can? :show, group %>
      <td><%= link_to 'Show', group %></td>
    <% end %>
    <% if can? :update, group %>
      <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <% end %>
    <% if can? :destroy, group %>
      <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
