
<% content_for :title, "SDFB: " + @group.name %>

<%- model_class = Group -%>

<div class="row">
  <div class="span12">
    <h1>Group: <%= @group.name %>
    <%= link_to("Visualize", root_path(:group => @group.id), :class => 'btn btn-mini' ) %>
    </h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span5">
    <div class="well">
      <h2>Information
        <% if can? :update, @group %> 
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_group_path(@group), :class => 'btn btn-mini' %>
        <% end %>
        <% if can? :delete, @group %>
          <%= link_to 'Delete', @group, :class => 'btn btn-mini btn-danger',method: :delete, data: { confirm: 'Are you sure that you want to permanently delete this record and all associated records?' } %>
        <% end %>
      </h2>
      <br>
      <dl class="dl-horizontal">
        <dt><strong>SDFB Group ID:</strong></dt>
        <dd><%= @group.id %></dd>
        <dt><strong>Name:</strong></dt>
        <dd><%= @group.name %></dd>
        
        <dt><strong>Description:</strong></dt>
        <% if ! @group.description.blank? %>
          <dd><%= @group.description %></dd>
        <% else %>
          <dd>Unknown</dd>
        <% end %>

        <dt><strong>Start Date Type:</strong></dt>
        <% if ! @group.start_date_type.blank? %>
          <dd>
            <% if @group.start_date_type == "BF" %>
              <dd>Before</dd>
            <% elsif @group.start_date_type == "AF" %>
              <dd>After</dd>
            <% elsif @group.start_date_type == "IN" %>
              <dd>In</dd>
            <% elsif @group.start_date_type == "CA" %>
              <dd>Circa</dd>
            <% elsif @group.start_date_type == "BF/IN" %>
              <dd>Before or In</dd>
            <% elsif @group.start_date_type == "AF/IN" %>
              <dd>After or In</dd>
            <% end %>
          </dd>
        <% else %>
          <dd>Unknown</dd>
        <% end %>
        
        <dt><strong>Start Year:</strong></dt>
        <% if ! @group.start_year.blank? %>
          <dd>
          <% if (@group.start_date_type == "CA") && (@group.start_year == 1500) %>
            The default start year (<%= @group.start_year %>) is used.
          <% else %>
            <%= @group.start_year %>
          <% end %>
          </dd>
        <% else %>
          <dd>Unknown</dd>
        <% end %>
        <dt><strong>End Date Type:</strong></dt>
        <% if ! @group.end_date_type.blank? %>
          <dd>
            <% if @group.end_date_type == "BF" %>
              <dd>Before</dd>
            <% elsif @group.end_date_type == "AF" %>
              <dd>After</dd>
            <% elsif @group.end_date_type == "IN" %>
              <dd>In</dd>
            <% elsif @group.end_date_type == "CA" %>
              <dd>Circa</dd>
            <% elsif @group.end_date_type == "BF/IN" %>
              <dd>Before or In</dd>
            <% elsif @group.end_date_type == "AF/IN" %>
              <dd>After or In</dd>
            <% end %>
          </dd>
        <% else %>
          <dd>Unknown</dd>
        <% end %>

        
        <dt><strong>End Year:</strong></dt>
        <% if ! @group.end_year.blank? %>
          <dd>
          <% if (@group.end_date_type == "CA") && (@group.end_year == 1700) %>
            The default end year (<%= @group.end_year %>) is used.
          <% else %>
            <%= @group.end_year %>
          <% end %>
          </dd>
        <% else %>
          <dd>Unknown</dd>
        <% end %>

        <dt><strong>Justification</strong></dt>
        <% if ! @group.justification.blank? %> 
          <dd><%= @group.justification %></dd>
        <% else %>
          <dd>Unknown</dd>
        <% end %>

        <% if (! current_user.blank?) && ((current_user.user_type == "Admin") || (current_user.user_type == "Curator")) %>
          <dt><strong>Created:</strong></dt>
          <dd><%= @group.created_at.strftime("%m/%d/%Y") %> by <%= link_to User.find(@group.created_by).username,  user_path(@group.created_by) %></dd>
          <% @last_edit = @group.last_edit %>
          <% if ! @last_edit.blank? %>
            <dt><strong>Last Edit:</strong></dt>
            <dd><%= @last_edit[1].strftime("%m/%d/%Y")%> by <%= link_to User.find(@last_edit[0]).username,  user_path(@last_edit[0]) %></dd>
          <% end %>
          <dt><strong>Is Approved?:</strong></dt>
          <dd><%= @group.is_approved %></dd>
          <% if ! @group.approved_by.blank? %>
            <dt><strong>Approved By:</strong></dt>
            <dd><%= link_to User.find(@group.approved_by).username,  user_path(@group.approved_by) %></dd>
          <% end %>
          <% if ! @group.approved_on.blank? %>
            <dt><strong>Approved On:</strong></dt>
            <dd><%= @group.approved_on %></dd>
          <% end %>
          <dt><strong>Is Active:</strong></dt>
          <dd><%= @group.is_active %></dd>
          <dt><strong>Is Rejected:</strong></dt>
          <dd><%= @group.is_rejected %></dd>
        <% end %>
      </dl>      
    </div>
  </div>
    <div class="span7">
      <% if ! @user_group_contribs.empty? %>
        <div class="well">
        <h2>All Notes for <%= @group.name%> <%= link_to 'New Note',
                    new_user_group_contrib_path(:group_id => @group.id),
                    :class => 'btn btn-primary btn-mini' %></h2>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Note ID</th>
              <th>Note</th>
              <th>Citation</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @user_group_contribs.each do |user_group_contrib| %>
              <tr>
                <td><%= user_group_contrib.id %></td>
                <td><%= user_group_contrib.annotation %></td>
                <td><%= user_group_contrib.bibliography %></td>
                <td>
                  <% if can? :show, user_group_contrib %>
                      <%= link_to 'Show', user_group_contrib, :class => 'btn btn-mini' %>
                  <% end %>
                  <% if can? :update, user_group_contrib %>
                      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                edit_user_group_contrib_path(user_group_contrib), :class => 'btn btn-mini' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= will_paginate @user_group_contribs, :param_name => 'user_group_contribs_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        </div>
      <% else %>
        <div class = "well">
          <h2>All Notes for <%= @group.name%> <%= link_to 'New Note',
                    new_user_group_contrib_path(:group_id => @group.id),
                    :class => 'btn btn-primary btn-mini' %></h2>
          <br>
          <b>No notes exist.</b>
        </div>
      <% end %>

      <div class = "well">
        <h2>All Members in <%= @group.name%> <%= link_to 'New Group Member',
                      new_group_assignment_path(:group_id => @group.id),
                      :class => 'btn btn-primary btn-mini' %></h2>
        <% if ! @people.empty? %>
          <table class="table table-condensed">
            <thead>
            <tr>
              <th>Assignment ID</th>
              <th>Person</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
            </thead>
            <tbody>
              <% @people.each do |group_assignment| %>
                <tr>
                  <td><%= group_assignment.id %></td>
                  <td><%= link_to group_assignment.get_person_name, person_path(group_assignment.person_id) %></td>
                  <td>
                    <% if ((! group_assignment.start_month.blank?) || (! group_assignment.start_day.blank?) || (! group_assignment.start_year.blank?)) %>
                      <% if ! group_assignment.start_month.blank? %>
                        <%= group_assignment.start_month %>
                      <% end %>  
                      <% if ! group_assignment.start_day.blank? %>
                        <%= group_assignment.start_day %>,
                      <% end %>
                      <% if ! group_assignment.start_year.blank? %>
                        <%= group_assignment.start_year %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% if ((! group_assignment.end_month.blank?) || (! group_assignment.end_day.blank?) || (! group_assignment.end_year.blank?)) %>
                      <% if ! group_assignment.end_month.blank? %>
                        <%= group_assignment.end_month %>
                      <% end %>  
                      <% if ! group_assignment.end_day.blank? %>
                        <%= group_assignment.end_day %>,
                      <% end %>
                      <% if ! group_assignment.end_year.blank? %>
                        <%= group_assignment.end_year %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% if can? :show, group_assignment %>
                      <%= link_to 'Show', group_assignment, :class => 'btn btn-mini' %>
                    <% end %>
                    <% if can? :update, group_assignment %>
                      <%= link_to 'Edit', edit_group_assignment_path(group_assignment), :class => 'btn btn-mini' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= will_paginate @people, :param_name => 'people_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        <% else %>
          <br>
          <b>No members exist.</b>
        <% end %>
      </div>

      <div class="well">
        <h2>All Group Category Assignments for <%= @group.name%><% if (! current_user.blank?) && ((current_user.user_type == "Admin") || (current_user.user_type == "Curator"))%><%= link_to 'New Group Category Assignment', new_group_cat_assign_path(:group_id => @group.id), :class => 'btn btn-primary btn-mini' %><% end %></h2>
        <% if ! @group_cat_assigns_approved.empty? %>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Assignment ID</th>
                <th>Category</th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @group_cat_assigns_approved.each do |group_cat_assign| %>
                <tr>
                  <td><%= group_cat_assign.id %></td>
                  <td><%= link_to GroupCategory.find(group_cat_assign.group_category_id).name, group_category_path(group_cat_assign.group_category_id) %></td>
                  <td>
                    <% if can? :show, group_cat_assign %>
                      <%= link_to 'Show', group_cat_assign, :class => 'btn btn-mini' %>
                    <% end %>
                    <% if can? :update, group_cat_assign %>
                      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                      edit_group_cat_assign_path(group_cat_assign), :class => 'btn btn-mini' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= will_paginate @group_cat_assigns_approved, :param_name => 'group_cat_assigns_approved_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        <% else %>
          <br>
          <b>No group category assignments exist.</b>
        <% end %>
      </div>
    </div>
</div>

