<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :about_description %>
  <%= f.input :affiliation %>
  <%= f.input :email %>
  <%= f.input :first_name %>
  <%= f.input :is_active %>
  <%= f.input :last_name %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :password_hash %>
  <%= f.input :password_salt %>
  <%= f.input :user_type %>
  <%= f.input :is_admin %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
