<h2>Inactive People</h2>

<% if ! @inactive_people.empty? %>
  <div class = "well">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>SDFB Person ID</th>
          <th>ODNB id</th>
          <th>Prefix</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Suffix</th>
          <th>Title</th>
          <th>Birth Year Type</th>
          <th>Extant Birth Year</th>
          <th>Death Year Type</th>
          <th>Extant Death Year</th>
          <th>Historical significance</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @inactive_people.each do |person| %>
          <tr>
            <td><%= person.id %></td>
            <% if ! (person.odnb_id == 0) %>  
              <td><%= person.odnb_id %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= person.prefix %></td>
            <td><%= person.first_name %></td>
            <td><%= person.last_name %></td>
            <td><%= person.suffix %></td>
            <td><%= person.title %></td>
            <td><%= person.birth_year_type %></td>
            <td><%= person.ext_birth_year %></td>
            <td><%= person.death_year_type %></td>
            <td><%= person.ext_death_year %></td>
            <td><%= person.historical_significance %></td>
            <td>
              <% if can? :show, person %>
                  <%= link_to 'Show', person, :class => 'btn btn-mini' %>
              <% end %>
              <% if can? :update, person %>      
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_person_path(person), :class => 'btn btn-mini' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @inactive_people, :param_name => 'inactive_people_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </div>
<% else %>
  <div class = "well">
    No inactive people exist.
  </div>
<% end %>