<%- model_class = GroupAssignment -%>

<h2>Inactive Group Assignments</h2>
<% if ! @inactive_group_assigns.empty? %>
  <div class = "well">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>SDFB Group Assign. ID</th>
        <th>Group</th>
        <th>Person</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @inactive_group_assigns.each do |group_assignment| %>
          <tr>
            <td><%= link_to group_assignment.id, group_assignment %></td>
            <td><%= link_to group_assignment.get_group_name, group_path(group_assignment.group_id) %></td>
            <td><%= link_to group_assignment.get_person_name, person_path(group_assignment.person_id) %></td>
            <td>
              <% if can? :update, group_assignment %>
                <%= link_to 'Edit', edit_group_assignment_path(group_assignment), :class => 'btn btn-mini' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @inactive_group_assigns, :param_name => 'inactive_group_assigns_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </div>
<% else %>
  <div class = "well">
    No inactive group assignments exist.
  </div>
<% end %>