<h2>Inactive Relationship Categories</h2>
    <% if ! @inactive_rel_cats.empty? %>
        <div class = "well">  
            <table class="table table-condensed">
                <tr>
                <th>SDFB Relationship Category ID</th>
                <th>Category Name</th>
                <th>Description</th>
                <th></th>
                </tr>

                <% @inactive_rel_cats.each do |relationship_category| %>
                  <tr>
                    <td><%= link_to relationship_category.id, relationship_category %></td>
                    <td><%= relationship_category.name %></td>
                    <td><%= relationship_category.description %></td>
                    <td>
                    <%= link_to 'Edit', edit_relationship_category_path(relationship_category), :class => 'btn btn-mini' %></td>
                  </tr>
                <% end %>
            </table>

            <%= will_paginate @inactive_rel_cats, :param_name => 'inactive_rel_cats_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        </div>
    <% else %>
        <div class = "well">
        No inactive relationship categories exist.
        </div>
<% end %>