<h2>Inactive Group Category Assignments</h2>
<% if ! @inactive_group_cat_assign.empty? %>
  <div class = "well">
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>SDFB Group Category Assignment ID </th>
        <th>Group</th>
        <th>Group Category</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_group_cat_assign.each do |group_cat_assign| %>
        <tr>
          <td><%= group_cat_assign.id %></td>
          <td><%= link_to Group.find(group_cat_assign.group_id).name, group_path(group_cat_assign.group_id) %></td>
          <td><%= link_to GroupCategory.find(group_cat_assign.group_category_id).name, group_category_path(group_cat_assign.group_category_id) %></td>
          <td>
            <% if can? :show, group_cat_assign %>
              <%= link_to 'Show', group_cat_assign, :class => 'btn btn-mini' %>
            <% end %>
            <% if can? :update, group_cat_assign %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_group_cat_assign_path(group_cat_assign), :class => 'btn btn-mini' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @inactive_group_cat_assign, :param_name => 'inactive_group_cat_assigns_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </div>
<% else %>
  <div class = "well">
    No inactive group category assignments exist.
  </div>
<% end %>