<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <br>
          <li>- <%= msg %></li>
        <br>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :password, hint: "Your password must include at least one number, at least one letter, and at least 7 characters." %>
  <%= f.input :password_confirmation %>
  <%= f.input :affiliation %>
  <%= f.input :about_description %>
  <%= f.hidden_field :curator_revoked, :value => false %>
  <%= f.hidden_field :is_active, :value => true %>
  <%= f.hidden_field :user_type, :value => "Standard" %>
  <br>
  <%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>