<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :user_type %><br />
    <%= f.text_field :user_type %>
  </div>
  <div class="field">
    <%= f.label :affiliation %><br />
    <%= f.text_field :affiliation %>
  </div>
  <div class="field">
    <%= f.label :about_description %><br />
    <%= f.text_area :about_description %>
  </div>
  <div class="field">
    <%= f.hidden_field :is_active, :value => true %>
  </div>
  <div class="field">
    <%= f.hidden_field :is_admin, :value => false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
