<h2>Recent Relationship Type Assignments</h2>

<% if ! @recent_user_rel_contribs.empty? %>
  <div class = "well">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>SDFB Rel. Type Assign. ID</th>
          <th>Relationship Type</th>
          <th>Confidence</th>
          <th>Justification</th>
          <th>Citation</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @recent_user_rel_contribs.each do |user_rel_contrib| %>
          <tr>
            <% person1_name = user_rel_contrib.get_person1_name %>
            <% person2_name = user_rel_contrib.get_person2_name %>
            <td><%= user_rel_contrib.id %></td>
            <td><%= person1_name %> <%= link_to RelationshipType.find(user_rel_contrib.relationship_type_id).name, relationship_type_path(user_rel_contrib.relationship_type_id) %> <%= person2_name %></td>
            <td><%= user_rel_contrib.certainty %>%</td>
            <td><%= user_rel_contrib.annotation %></td>
            <td><%= user_rel_contrib.bibliography %></td>
            <td>
              <% if can? :show, user_rel_contrib %>
                <%= link_to 'Show', user_rel_contrib, :class => 'btn btn-mini' %>
              <% end %>
              <% if user_rel_contrib.is_locked == true %>
                <% if can? :update, user_rel_contrib %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_user_rel_contrib_path(user_rel_contrib), :class => 'btn btn-mini' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @recent_user_rel_contribs, :param_name => 'recent_user_rel_contribs_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </div>
<% else %>
  <div class = "well">
    No recent relationship type assignments exist.
  </div>
<% end %>
