<h2>Unapproved Groups</h2>

<!-- vital information for curator approval process commented out by [IS16] -->
<!-- need to detach the unapproved group list in user profile from this view so that it can be restored in the approval menus -->

<% if ! @unapproved_groups.empty? %>
  <div class = "well">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>SDFB Group ID</th>
          <th>Name</th>
<!--           <th>Description</th>
          <th>Start Year</th>
          <th>End Year</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @unapproved_groups.each do |group| %>
          <tr>
            <td><%= link_to group.id, group %></td>
            <td><%= group.name %></td>
<!--             <td><%= group.description %></td>
            <td><%= group.start_year %></td>
            <td><%= group.end_year %></td> -->
            <td>
              <% if can? :update, group %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                edit_group_path(group), :class => 'btn btn-mini' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @unapproved_groups, :param_name => 'unapproved_groups_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </div>
<% else %>
  <div class = "well">
    No unapproved groups exist.
  </div>
<% end %>