<h2>Unapproved Relationships</h2>

<!-- vital information for curator approval process commented out by [IS16] -->
<!-- need to detach the unapproved relationships list in user profile from this view so that it can be restored in the approval menus -->

<% if ! @unapproved_relationships.empty? %>
  <div class = "well">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>SDFB Relationship ID</th>
          <th>Person 1</th>
          <th>Person 2</th>
<!--           <th>Maximum Confidence</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @unapproved_relationships.each do |relationship| %>
          <tr>
            <td><%= link_to relationship.id, relationship %></td>
            <td><%= link_to relationship.get_person1_name, person_path(relationship.person1_index) %></td>
            <td><%= link_to relationship.get_person2_name, person_path(relationship.person2_index) %></td>
<!--             <td><%= relationship.max_certainty %>%</td> -->
            <td>
              <% if can? :update, relationship %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_relationship_path(relationship), :class => 'btn btn-mini' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @unapproved_relationships, :param_name => 'unapproved_relationships_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </div>
<% else %>
  <div class = "well">
    No unapproved relationships exist.
  </div>
<% end %>