<h2>Unapproved Relationship Type/Category Assignments</h2>
<% if ! @unapproved_rel_type_cat_assigns.empty? %>
  <div class = "well">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>SDFB Rel. Type/Category Assignment ID:</th>
          <th>Relationship Type</th>
          <th>Relationship Category</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @unapproved_rel_type_cat_assigns.each do |rel_cat_assign| %>
          <tr>
            <td><%= rel_cat_assign.id %></td>
            <td><%= link_to RelationshipType.find(rel_cat_assign.relationship_type_id).name, relationship_type_path(rel_cat_assign.relationship_type_id) %></td>
            <td><%= link_to RelationshipCategory.find(rel_cat_assign.relationship_category_id).name, relationship_category_path(rel_cat_assign.relationship_category_id) %></td>
            <td>
              <% if can? :show, rel_cat_assign %>
                <%= link_to 'Show', rel_cat_assign, :class => 'btn btn-mini' %>
              <% end %>
              <% if can? :update, rel_cat_assign %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                edit_rel_cat_assign_path(rel_cat_assign), :class => 'btn btn-mini' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @unapproved_rel_type_cat_assigns, :param_name => 'unapproved_rel_type_cat_assigns_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </div>
<% else %>
  <div class = "well">
    No unapproved relationship type/category assignments exist.
  </div>
<% end %>