<h2>Relationship Type Assignments</h2>
<div class = "well">
  <% if ! @user_rel_contribs.empty? %>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>SDFB Rel. Type Assign. ID</th>
          <th>Relationship</th>
          <th>Relationship type</th>
          <th>Confidence</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user_rel_contribs.each do |user_rel_contrib| %>
          <tr>
            <td><%= link_to user_rel_contrib.id, user_rel_contrib %></td>
            <td><%= link_to user_rel_contrib.get_both_names, relationship_path(user_rel_contrib.relationship_id) %></td>
            <td><%= link_to RelationshipType.find(user_rel_contrib.relationship_type_id).name, relationship_type_path(user_rel_contrib.relationship_type_id) %></td>
            <td><%= user_rel_contrib.certainty %>%</td>
            <td>
              <% if (user_rel_contrib.is_active == true) %>
                <% if ((user_rel_contrib.is_approved == true) && (user_rel_contrib.is_rejected == false)) %>
                  Approved
                <% elsif ((user_rel_contrib.is_approved == false) && (user_rel_contrib.is_rejected == false)) %>
                  Pending
                <% elsif ((user_rel_contrib.is_approved == false) && (user_rel_contrib.is_rejected == true)) %>
                  Rejected
                <% elsif ((user_rel_contrib.is_approved == true) && (user_rel_contrib.is_rejected == true)) %>
                  Rejected
                <% end %>
              <% else %>
                Inactive
              <% end %>
            </td>
            <td>
              <% if user_rel_contrib.is_locked == false %>
                <% if can? :update, user_rel_contrib %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_user_rel_contrib_path(user_rel_contrib), :class => 'btn btn-mini' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @user_rel_contribs, :param_name => 'user_rel_contribs_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  <% else %>
    You have not contributed any relationship type assignments.
  <% end %>
</div>
