<h1>All Inactive Records</h1>

<% if logged_in? %>
	<%= render 'inactive_people' %>
	<%= render 'inactive_user_person_contribs' %>
	<%= render 'inactive_relationships' %>
	<% if (current_user.user_type == "Admin") %>
		<%= render 'inactive_rel_types' %>
	<% end %>
	<%= render 'inactive_user_rel_contribs' %>
	<% if (current_user.user_type == "Admin") %>
		<%= render 'inactive_rel_cats' %>
	<% end %>
	<%= render 'inactive_rel_type_cat_assign' %>
	<%= render 'inactive_groups' %>
	<%= render 'inactive_group_assignments' %>
	<%= render 'inactive_user_group_contribs' %>
	<% if (current_user.user_type == "Admin") %>
		<%= render 'inactive_group_cats' %>
	<% end %>
	<%= render 'inactive_group_cat_assigns' %>

	<% if (current_user.user_type == "Admin") %>
		<%= render 'inactive_users' %>
	<% end %>
<% end %>