	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css">
 <%= javascript_include_tag "jquery-2.1.1.min", "jquery-ui.min", "bootstrap.min", "insights.standalone", "script", "accordion", "landing", "pace.min", "typeahead", "display2" %>
  <%= stylesheet_link_tag "reset", "jquery-impromptu.min", "jquery-ui.min", "bootstrap.min", "accordion", "insights.standalone", "table", "landing", "style", "bootstrap.min"%>


<h1>Listing users</h1>
<%= link_to 'New User', new_user_path %>

<%= render 'active_users' %>

<%= render 'inactive_users' %>