<h1>Active Users <%= link_to 'New User', new_user_path, :class => 'btn btn-primary' %></h1><br>

<table class="table table-condensed">
    <thead>
      <tr>
        <th>SDFB User ID</th>
        <th>ORCID</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Type</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
  <tbody>
        <% @active_users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.orcid %></td>
            <td><%= user.username %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.user_type %></td>
            <td>
                <% if can? :show, user %>
                    <%= link_to 'Show', user, :class => 'btn btn-mini' %>
                <% end %>
                <% if can? :update, user %>
                    <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini' %>
                <% end %>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>

<%= will_paginate @active_users, :param_name => 'active_users_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>

<br />
