<% content_for :title, "SDFB: My Contributions" %>

<h1>My Contributions</h1>

<% if logged_in? %>
	<%= render 'people_for_user' %>
	<%= render 'user_person_contribs_for_user' %>
	<%= render 'relationships_for_user' %>
	<% if (current_user.user_type == "Admin") %>
		<%= render 'rel_types_for_user' %>
	<% end %>
	<%= render 'user_rel_contribs_for_user' %>
	<% if (current_user.user_type == "Admin") %>
		<%= render 'rel_cats_for_user' %>
	<% end %>
	<% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")  %>
		<%= render 'rel_type_cat_assign_for_user' %>
	<% end %>
	<%= render 'groups_for_user' %>
	<%= render 'group_assignments_for_user' %>
	<%= render 'user_group_contribs_for_user' %>
	<% if (current_user.user_type == "Admin") %>
		<%= render 'group_cats_for_user' %>
	<% end %>
	<% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")  %>
		<%= render 'group_cat_assigns_for_user' %>
	<% end %>
<% end %>