<% content_for :title, "SDFB Users" %>

<%- model_class = User -%>
<div class="row">
  <div class="span12">
    <h1>Account</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span7">
    <div class="well">
      <h2>Information
        <% if can? :update, @user %> 
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_user_path(@user), :class => 'btn btn-mini' %>
        <% end %>
      </h2>
      <br>
      <dl class="dl-horizontal">
        <% if ! current_user.nil? && (current_user.user_type == "Admin") %>
          <dt><strong>SDFB User ID:</strong></dt>
          <dd><%= @user.id %></dd>
        <% end %>
        <dt><strong>Username:</strong></dt>
        <dd><%= @user.username %></dd>
        <% if ! @user.orcid.blank? %>
          <dt><strong>ORCID:</strong></dt>
          <dd><%= @user.orcid %></dd>
        <% end %>
        <dt><strong>About Description:</strong></dt>
        <dd>
          <% if ! @user.about_description.blank? %>
            <%= @user.about_description %>
          <% else %>
            No description was provided by this user.
          <% end %>
        </dd>
        <% if ! current_user.nil? && (current_user.user_type == "Admin") %>
          <% if ! @user.affiliation.blank? %>
            <dt><strong>Affiliation:</strong></dt>
            <dd><%= @user.affiliation %></dd>
          <% end %>
          <dt><strong>Email:</strong></dt>
          <dd><%= @user.email %></dd>
          <% if ! @user.prefix.blank? %>
            <dt><strong>Prefix:</strong></dt>
            <dd><%= @user.prefix %></dd>
          <% end %>
          <dt><strong>First Name:</strong></dt>
          <dd><%= @user.first_name %></dd>
          <dt><strong>Last Name:</strong></dt>
          <dd><%= @user.last_name %></dd>
          <dt><strong>Is Active:</strong></dt>
          <dd><%= @user.is_active %></dd>
          <% if ! @user.user_type.blank? %>
            <dt><strong>User Type:</strong></dt>
            <dd><%= @user.user_type %></dd>
          <% end %>
          <dt><strong>Curator Revoked?:</strong></dt>
          <dd><%= @user.curator_revoked %></dd>
        <% end %>
        <% if ! current_user.nil? && (current_user.user_type == "Admin") %>
          <dt><strong>User Since:</strong></dt>
          <dd><%= @user.created_at %></dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>
