<% content_for :title, "SDFB: " + @user.username %>
<%= stylesheet_link_tag "user_partial" %>
<%- model_class = User -%>
<div class="row">
  <div class="span7">
  <h1>Account
    <% if logged_in? && current_user.id == @user.id %> 
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn btn-mini' %>
    <% end %>
    <a class="btn btn-mini" id="account-help-btn">?</a>
  </h1>
  <h5 id="account-help"><b>Approved contributions</b> are worth 1 point.<br>
    Gaining 100 points grants a user <b>Curator Status,</b> which allows them to approve other contributions.</h5>
  <div class="user-profile">
    <div class="completion" id="circle-bar" data-width="20" data-size="200" data-points=<%= @points %>>
        <canvas id="circle-canvas"></canvas>
        <span class="under-text" id="under"><br>To Next Level</span>
    </div>
    <div class="userdata">
        <h1 id="fullname">
          <%= if (logged_in? && current_user.id == @user.id || current_user.user_type == "Admin") 
            @user.first_name + " " + @user.last_name
            else
              @user.username
            end%>
        </h1>
        <h3 id="username">
            <% if logged_in? && (current_user.id == @user.id || current_user.user_type == "Admin")%> 
            username: <i><%= @user.username %></i><br>
            <% end %>
            <% if ! @user.user_type.blank? && @user.user_type != 'Standard' %>
            user type: <i><%= @user.user_type %></i><br>
            <% end %>
            <% if logged_in? && (current_user.id == @user.id || current_user.user_type == "Admin")%> 
            email: <i><%= @user.email %></i><br>
            <% end %>
            <% if (! @user.affiliation.blank?) && (current_user.id == @user.id || current_user.user_type == "Admin")%>
            affiliation: <i><%= @user.affiliation %></i><br>
            <% end %>
            <% if current_user.id == @user.id || current_user.user_type == "Admin" %>
            user since: <i><%= @user.created_at.strftime('%B %-d, %Y') %></i><br>
            <% end %>
            <% if ! @user.about_description.blank? %>
            <%= @user.about_description %>
            <% else %>
            No description provided.
            <% end %><br>
            <% if (! @user.orcid.blank?) && (current_user.id == @user.id || current_user.user_type == "Admin") %>
            ORCID: <i><%= @user.orcid %></i><br>
            <% end %>
            <b>Level <span id="userlevel"></span></b>/<span id="levelcount"></span><br>
            <b id="totalpoints"></b> Curation Points<br>
            <b id="pointsleft"></b> Left Until Curator Status<br>
        </h3>
    </div>
  </div>
  </div>
  <% if logged_in? && (current_user.id == @user.id || current_user.user_type == "Admin" || current_user.user_type == "Curator")%>
  <div class="span5">
    <h1>Unapproved Contributions</h1>
    <br>
      <% if ! @unapproved_group_assigns.empty? %>
        <%= render 'unapproved_group_assignments' %>
      <% end %>
      <% if ! @unapproved_group_cat_assign.empty? %>
        <%= render 'unapproved_group_cat_assigns' %>
      <% end %>
      <% if ! @unapproved_group_cats.empty? %>
        <%= render 'unapproved_group_cats' %>
      <% end %>
      <% if ! @unapproved_groups.empty? %>
        <%= render 'unapproved_groups' %>
      <% end %>
      <% if ! @unapproved_people.empty? %>
        <%= render 'unapproved_people' %>
      <% end %>
      <% if ! @unapproved_rel_cats.empty? %>
        <%= render 'unapproved_rel_cats' %>
      <% end %>
      <% if ! @unapproved_rel_type_cat_assigns.empty? %>
        <%= render 'unapproved_rel_type_cat_assign' %>
      <% end %>
      <% if ! @unapproved_rel_types.empty? %>
        <%= render 'unapproved_rel_types' %>
      <% end %>
      <% if ! @unapproved_relationships.empty? %>
        <%= render 'unapproved_relationships' %>
      <% end %>
      <% if ! @unapproved_user_group_contribs.empty? %>
        <%= render 'unapproved_user_group_contribs' %>
      <% end %>
      <% if ! @unapproved_user_person_contribs.empty? %>
        <%= render 'unapproved_user_person_contribs' %>
      <% end %>
      <% if ! @unapproved_user_rel_contribs.empty? %>
        <%= render 'unapproved_user_rel_contribs' %>
      <% end %>
      <% if @unapproved_group_assigns.empty? && @unapproved_group_cat_assign.empty? && @unapproved_group_cats.empty? && @unapproved_groups.empty? && @unapproved_people.empty? && @unapproved_rel_cats.empty? && @unapproved_rel_type_cat_assigns.empty? && @unapproved_rel_types.empty? && @unapproved_relationships.empty? && @unapproved_user_group_contribs.empty? && @unapproved_user_person_contribs.empty? && @unapproved_user_rel_contribs.empty? %>
        <h5>No unapproved contributions at this time.</h5>
      <% end %>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="span12">
    <h1>Approved Contributions</h1>
    <br>
      <%= render 'people_for_user' %>
      <%= render 'user_person_contribs_for_user' %>
      <%= render 'relationships_for_user' %>
      <% if (current_user.user_type == "Admin") %>
        <%= render 'rel_types_for_user' %>
      <% end %>
      <%= render 'user_rel_contribs_for_user' %>
      <% if (current_user.user_type == "Admin") %>
        <%= render 'rel_cats_for_user' %>
      <% end %>
      <% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")  %>
        <%= render 'rel_type_cat_assign_for_user' %>
      <% end %>
      <%= render 'groups_for_user' %>
      <%= render 'group_assignments_for_user' %>
      <%= render 'user_group_contribs_for_user' %>
      <% if (current_user.user_type == "Admin") %>
        <%= render 'group_cats_for_user' %>
      <% end %>
      <% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")  %>
        <%= render 'group_cat_assigns_for_user' %>
      <% end %>
  </div>
</div>
<%= javascript_include_tag "user_partial" %>
