<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Affiliation:</b>
  <%= @user.affiliation %>
</p>

<p>
  <b>User type:</b>
  <%= @user.user_type %>
</p>

<p>
  <b>About description:</b>
  <% if @user.about_description != "" %>
    <%= @user.about_description %>
  <% else %>
    None
  <% end %>
</p>

<% if current_user != nil %>
  <% if current_user.is_admin %>
    <p>
      <b>Is admin:</b>
      <% if @user.is_admin %>
        true
      <% end %>
    </p>
  <% end %>
<% end %>

<% if can? :update, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
