<%= simple_form_for @user_rel_contrib, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @user_rel_contrib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_rel_contrib.errors.count, "error") %> prohibited this user_rel_contrib from being saved:</h2>

      <ul>
      <% @user_rel_contrib.errors.full_messages.each do |msg| %>
        <br>
          <li>- <%= msg %></li>
        <br>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :relationship__type_id %>
  <%= Relationship.find(@user_rel_contrib.relationship_id).get_person1_name %> 
  <strong><%= RelationshipType.find(@user_rel_contrib.relationship_type_id).name %></strong>
  <%= Relationship.find(@user_rel_contrib.relationship_id).get_person2_name %>

  <%= f.label :certainty %>
  <%= f.range_field :certainty, :min=>0, :max=>100, :class=>"slide", :id=>"slider1"%>
  <br>
  <% if ! @user_rel_contrib.certainty.blank? %>
    <text id="formCertainty">Possible relationships @ <%= @user_rel_contrib.certainty %>%</text><br>
  <% else %>
    <text id="formCertainty">Possible relationships @ 50%</text><br>
  <% end %>
  <%= f.input :start_date_type, :collection =>["BF", "AF","IN","CA","BF/IN","AF/IN"], label: "Start Year Type", prompt: "Select", hint: " BF = Before, AF = After, IN = In, CA = Circa, BF/IN = Before or In, AF/IN = After or In" %>
  <%= f.label :start_month, label: "Start Date" %>
  <%= f.input :start_month, label: "Start Date", :collection =>["January","February","March","April","May","June","July","August","September","October","November","December"], label: false, prompt: "Month", :include_blank => true %>
  <%= f.input :start_day, label: false, :collection => 1..31, prompt: "Day", :include_blank => true %>
  <%= f.input :start_year, as: :string, label: false, placeholder: "Year"%>
  <%= f.input :end_date_type, :collection =>["BF", "AF","IN","CA","BF/IN","AF/IN"], label: "End Year Type", prompt: "Select", hint: " BF = Before, AF = After, IN = In, CA = Circa, BF/IN = Before or In, AF/IN = After or In" %>
  <%= f.label :end_month, label: "End Date" %>
  <%= f.input :end_month, :collection =>["January","February","March","April","May","June","July","August","September","October","November","December"], label: false, prompt: "Month", :include_blank => true %>
  <%= f.input :end_day, label: false, :collection => 1..31, prompt: "Day", :include_blank => true %>
  <%= f.input :end_year, label: false, as: :string, placeholder: "Year" %>
  <%= f.input :annotation, input_html: { rows:"5" }, label: "Justification" %>
  <%= f.input :bibliography, input_html: { rows:"5" }, label: "Citation" %>
  <%= f.hidden_field :approved_by, :value => current_user.id %>
  <% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator") %>
    <%= f.input :is_approved %>
    <%= f.input :is_active %>
    <% if @is_approved == false %>
      <%= f.input :is_rejected %>
      <%= f.hidden_field :approved_by, :value => current_user.id %>
      <%= f.hidden_field :approved_on, :value => Time.now %>
    <% end %>
  <% else %>
    <%= f.hidden_field :is_approved, :value => false %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary', :value => "Edit Relatonship Type Assignment" %>
  </div>
<% end %>


          




