<%= simple_form_for @user_rel_contrib, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @user_rel_contrib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_rel_contrib.errors.count, "error") %> prohibited this user_rel_contrib from being saved:</h2>
      <ul>
      <% @user_rel_contrib.errors.full_messages.each do |msg| %>
        <br>
          <li>- <%= msg %></li>
        <br>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if ! @relationship_id.blank? %>
    <%= f.label :relationship_type_id %>
    <%= Relationship.find(@relationship_id).get_person1_name %>
    <%= f.input :relationship_type_id, :collection =>@relType.collect{ |r| [r.name, r.id] }, label: false, prompt: "Relationship Type" %>
    <%= Relationship.find(@relationship_id).get_person2_name %>
    <%= f.hidden_field :relationship_id, :value => @relationship_id %>
  <% elsif ! @user_rel_contrib.relationship_id.blank?%>
    <%= f.label :relationship_type_id %>
    <%= Relationship.find(@user_rel_contrib.relationship_id).get_person1_name %>
    <%= f.input :relationship_type_id, :collection =>@relType.collect{ |r| [r.name, r.id] }, label: false, prompt: "Relationship Type" %>
    <%= Relationship.find(@user_rel_contrib.relationship_id).get_person2_name %>
    <%= f.hidden_field :relationship_id, :value => @user_rel_contrib.relationship_id %>
  <% else %>
    <%= f.label :relationship_type_id %>
    <%= f.hidden_field :relationship_id, value: 0 %>
    <%= f.hidden_field :person1_selection %>
    <%= f.hidden_field :person2_selection %>
    <%= f.input :person1_autocomplete, as: :autocomplete, url: autocomplete_person_search_names_all_user_rel_contribs_path, input_html: { 'data-id-element' => '#user_rel_contrib_person1_selection' }, label: false, placeholder: "Person 1", required: true %>
    <%= f.input :relationship_type_id, :collection =>@relType.collect{ |r| [r.name, r.id] }, label: false, prompt: "Relationship Type" %>
    <%= f.input :person2_autocomplete, as: :autocomplete, url: autocomplete_person_search_names_all_user_rel_contribs_path, input_html: { 'data-id-element' => '#user_rel_contrib_person2_selection' }, label: false, placeholder: "Person 2", required: true %>
  <% end %>
  <br>
 <h6><b>CONFIDENCE</b></h6>
 <br>
  <%= f.range_field :certainty, :min=>0, :max=>100, :class=>"slide", :id=>"slider1"%>
  <br>
  <% if ! @user_rel_contrib.certainty.blank? %>
    <text id="formCertainty">Possible relationships @ <%= @user_rel_contrib.certainty %>%</text><br>
  <% else %>
    <text id="formCertainty">Possible relationships @ 50%</text><br>
  <% end %>
  <%= f.input :start_date_type, :collection =>["BF", "AF","IN","CA","BF/IN","AF/IN"], label: "Start Year Type", prompt: "Select", hint: " BF = Before, AF = After, IN = In, CA = Circa, BF/IN = Before or In, AF/IN = After or In" %>
  <%= f.label :start_month, label: "Start Date" %>
  <%= f.input :start_month, label: "Start Date", :collection =>["January","February","March","April","May","June","July","August","September","October","November","December"], label: false, prompt: "Month", :include_blank => true %>
  <%= f.input :start_day, label: false, :collection => 1..31, prompt: "Day", :include_blank => true %>
  <%= f.input :start_year, as: :string, label: false, placeholder: "Year"%>
  <%= f.input :end_date_type, :collection =>["BF", "AF","IN","CA","BF/IN","AF/IN"], label: "End Year Type", prompt: "Select", hint: " BF = Before, AF = After, IN = In, CA = Circa, BF/IN = Before or In, AF/IN = After or In" %>
  <%= f.label :end_month, label: "End Date" %>
  <%= f.input :end_month, :collection =>["January","February","March","April","May","June","July","August","September","October","November","December"], label: false, prompt: "Month", :include_blank => true %>
  <%= f.input :end_day, label: false, :collection => 1..31, prompt: "Day", :include_blank => true %>
  <%= f.input :end_year, label: false, as: :string, placeholder: "Year" %>
  <%= f.input :annotation, input_html: { rows:"5" }, label: "Justification", required: true %>
  <%= f.input :bibliography, input_html: { rows:"5" }, label: "Citation" %>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <br>
  <h6>Your contribution will be automatically approved if the related relationship is already approved, otherwise an admin must approve the relationship first</h6>

<% if ((Relationship.find(@user_rel_contrib.relationship_id).is_approved) == true) %>
    <%= f.hidden_field :is_approved, :value => true %>
    <%= f.hidden_field :approved_by, :value => current_user.id %>
    <%= f.hidden_field :approved_on, :value => Time.now %>
<% else %>
    <%= f.hidden_field :is_approved, :value => false %>
<% end %>

  <% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator") %>
    <%= f.input :is_active %>
  <% end %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary', :value => "Assign Relationship Type" %>
  </div>
<% end %>


          




