<%= simple_form_for @user_rel_contrib, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @user_rel_contrib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_rel_contrib.errors.count, "error") %> prohibited this user_rel_contrib from being saved:</h2>

      <ul>
      <% @user_rel_contrib.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :relationship_id %>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <%= f.input :confidence_type %>
  <%= f.input :annotation %>
  <%= f.input :bibliography %>
  <%= f.input :relationship_type %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_rel_contribs_path, :class => 'btn' %>
  </div>
<% end %>
