<h1>Export Relationship Type Assignment Data</h1>
<div class="well">
  <div class="container">
    <%=link_to 'Export Relationship Type Assignments #00000-#20000', '/rel_type_assigns_00000_20000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationship Type Assignments #20001-#40000', '/rel_type_assigns_20001_40000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationship Type Assignments #40001-#60000', '/rel_type_assigns_40001_60000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationship Type Assignments #60001-#80000', '/rel_type_assigns_60001_80000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationship Type Assignments #80001-#100000', '/rel_type_assigns_80001_100000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationship Type Assignments #100001-#120000', '/rel_type_assigns_100001_120000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationship Type Assignments #120001-#140000', '/rel_type_assigns_120001_140000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationship Type Assignments #140001-#160000', '/rel_type_assigns_140001_160000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationship Type Assignments #160001-#180000', '/rel_type_assigns_160001_180000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationship Type Assignments #180000 and over', '/rel_type_assigns_greater_than_180000', :class => 'btn btn-primary'%>
  </div>
</div>