<% content_for :title, "SDFB Relationship Notes" %>

<h1>All Relationship Type Assignments <%= link_to 'Assign Relationship Type to a Person', new_user_rel_contrib_path, :class => 'btn btn-primary' %><%=link_to 'Export Data', '/export_rel_type_assigns', :class => 'btn btn-primary'%></h1><br>

<% if ! @user_rel_contribs.empty? %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>SDFB Relationship Type Assign. ID</th>
        <th>Relationship Type</th>
        <th>Certainty</th>
        <th>Start Date Type</th>
        <th>Start Date</th>
        <th>End Date Type</th>
        <th>End Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @user_rel_contribs.each do |user_rel_contrib| %>
        <tr>
          <td><%= user_rel_contrib.id %></td>
          <td>
            <% if ! user_rel_contrib.relationship_type_id.nil? %>
              <%= user_rel_contrib.get_person1_name %> <%= link_to RelationshipType.find(user_rel_contrib.relationship_type_id).name, relationship_type_path(user_rel_contrib.relationship_type_id) %> <%= user_rel_contrib.get_person2_name %>
            <% else %>
              <%= user_rel_contrib.get_person1_name %> <i>Unassigned</i> <%= user_rel_contrib.get_person2_name %>
            <% end %>
          </td>
          <td><%= user_rel_contrib.certainty %>%</td>
          <td>
          <% if ! user_rel_contrib.start_date_type.blank? %>
              <% if user_rel_contrib.start_date_type == "BF" %>
                Before
              <% elsif user_rel_contrib.start_date_type == "AF" %>
                After
              <% elsif user_rel_contrib.start_date_type == "IN" %>
                In
              <% elsif user_rel_contrib.start_date_type == "CA" %>
                Circa
              <% elsif user_rel_contrib.start_date_type == "BF/IN" %>
                Before or In
              <% elsif user_rel_contrib.start_date_type == "AF/IN" %>
                After or In
              <% end %>   
            <% else %>
              Unknown
            <% end %>
          </td>
          <td>
            <% if ((! user_rel_contrib.start_month.blank?) || (! user_rel_contrib.start_day.blank?) || (! user_rel_contrib.start_year.blank?)) %>
              <% if ! user_rel_contrib.start_month.blank? %>
                <%= user_rel_contrib.start_month %>
              <% end %>  
              <% if ! user_rel_contrib.start_day.blank? %>
                <%= user_rel_contrib.start_day %>,
              <% end %>
              <% if ! user_rel_contrib.start_year.blank? %>
                <%= user_rel_contrib.start_year %>
              <% end %>
            <% else %>
              Unknown
            <% end %>
          </td>
          <td>
            <% if ! user_rel_contrib.end_date_type.blank? %> 
                <% if user_rel_contrib.end_date_type == "BF" %>
                  Before
                <% elsif user_rel_contrib.end_date_type == "AF" %>
                  After
                <% elsif user_rel_contrib.end_date_type == "IN" %>
                  In
                <% elsif user_rel_contrib.end_date_type == "CA" %>
                  Circa
                <% elsif user_rel_contrib.end_date_type == "BF/IN" %>
                  Before or In
                <% elsif user_rel_contrib.end_date_type == "AF/IN" %>
                  After or In
                <% end %>
                <% else %>
              <dd>Unknown</dd>
            <% end %>
          </td>
          
          <td>
            <% if ((! user_rel_contrib.end_month.blank?) || (! user_rel_contrib.end_day.blank?) || (! user_rel_contrib.end_year.blank?)) %>
            <% if ! user_rel_contrib.end_month.blank? %>
              <%= user_rel_contrib.end_month %>
            <% end %>  
            <% if ! user_rel_contrib.end_day.blank? %>
              <%= user_rel_contrib.end_day %>,
            <% end %>
            <% if ! user_rel_contrib.end_year.blank? %>
              <%= user_rel_contrib.end_year %>
            <% end %>
            <% else %>
              Unknown
            <% end %>
          </td>
          <td>
            <% if can? :show, user_rel_contrib %>
              <%= link_to 'Show', user_rel_contrib, :class => 'btn btn-mini' %>
            <% end %>
            <% if user_rel_contrib.is_locked == false %>
              <% if can? :update, user_rel_contrib %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_user_rel_contrib_path(user_rel_contrib), :class => 'btn btn-mini' %>
              <% end %>
              <% if can? :delete, user_rel_contrib %>
                <%= link_to 'Delete', user_rel_contrib, :class => 'btn btn-mini btn-danger',method: :delete, data: { confirm: 'Are you sure that you want to permanently delete this record and all associated records?' } %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @user_rel_contribs, :param_name => 'user_rel_contribs_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
<% else %>
  <div class = "well">
    No relationship type assignments exists.
  </div>
<% end %>
