<h1>All Relationship Type Assignments <%= link_to 'Assign Relationship Types', new_user_rel_contrib_path, :class => 'btn btn-primary' %></h1><br>

<% if ! @user_rel_contribs.empty? %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Id</th>
        <th>Relationship</th>
        <th>Relationship type</th>
        <th>Confidence</th>
        <th>Annotation</th>
        <th>Bibliography</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @user_rel_contribs.each do |user_rel_contrib| %>
        <tr>
          <td><%= user_rel_contrib.id %></td>
          <td><%= link_to user_rel_contrib.get_both_names, relationship_path(user_rel_contrib.relationship_id) %></td>
          <td><%= user_rel_contrib.relationship_type %></td>
          <td><%= user_rel_contrib.confidence %>%</td>
          <td><%= user_rel_contrib.annotation %></td>
          <td><%= user_rel_contrib.bibliography %></td>
          <td>
            <% if can? :show, user_rel_contrib %>
              <%= link_to 'Show', user_rel_contrib, :class => 'btn btn-mini' %>
            <% end %>
            <% if can? :update, user_rel_contrib %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_user_rel_contrib_path(user_rel_contrib), :class => 'btn btn-mini' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @user_rel_contribs, :param_name => 'user_rel_contribs_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
<% else %>
  <div class = "well">
    No relationship type assignments exists.
  </div>
<% end %>
