<h1>Listing user_rel_contribs</h1>

<table>
  <tr>
    <th>Relationship</th>
    <th>Created by</th>
    <th>Confidence type</th>
    <th>Annotation</th>
    <th>Bibliography</th>
    <th>Relationship type</th>
    <th>Is flagged</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_rel_contribs.each do |user_rel_contrib| %>
  <tr>
    <td><%= user_rel_contrib.relationship_id %></td>
    <td><%= user_rel_contrib.created_by %></td>
    <td><%= user_rel_contrib.confidence_type %></td>
    <td><%= user_rel_contrib.annotation %></td>
    <td><%= user_rel_contrib.bibliography %></td>
    <td><%= user_rel_contrib.relationship_type %></td>
    <td><%= user_rel_contrib.is_flagged %></td>
    <td><%= link_to 'Show', user_rel_contrib %></td>
    <td><%= link_to 'Edit', edit_user_rel_contrib_path(user_rel_contrib) %></td>
    <td><%= link_to 'Destroy', user_rel_contrib, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User rel contrib', new_user_rel_contrib_path %>
