<%- model_class = UserRelContrib -%>
<div class="row">
  <div class="span12">
    <h1>Relationship Type Assignment</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span5">
    <div class="well">
      <h2>Information
        <% if can? :update, @user_rel_contrib %> 
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_user_rel_contrib_path(@user_rel_contrib), :class => 'btn btn-mini' %>
        <% end %>
      </h2>
      <br>

      <dl class="dl-horizontal">
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin") || (current_user.user_type == "Curator")) %>
          <dt><strong>SDFB Rel. Type Assign. ID:</strong></dt>
          <dd><%= @user_rel_contrib.id %></dd>
        <% end %>
        <dt><strong>Relationship:</strong></dt>
        <% person1 = Relationship.find(@user_rel_contrib.relationship_id).get_person1_name %>
        <% person2 = Relationship.find(@user_rel_contrib.relationship_id).get_person2_name %>
        <dd><%= link_to person1 + " & " + person2,  relationship_path(@user_rel_contrib.relationship_id) %></dd>
        <dt><strong><%= model_class.human_attribute_name(:certainty) %>:</strong></dt>
        <dd><%= @user_rel_contrib.certainty %>%</dd>
        <dt><strong>Note:</strong></dt>
        <dd><%= @user_rel_contrib.annotation %></dd>
        <% if (! @user_rel_contrib.bibliography.blank?) %>
          <dt><strong>Citation:</strong></dt>
          <dd><%= @user_rel_contrib.bibliography %></dd>
        <% end %>
        <dt><strong>Relationship Type:</strong></dt>
        <dd><%= person1 %> <%= link_to RelationshipType.find(@user_rel_contrib.relationship_type_id).name, relationship_type_path(@user_rel_contrib.relationship_type_id)%> <%= person2 %></dd>
        <% if ! @user_rel_contrib.start_date_type.blank? %>
          <dt><strong>Start Date Type:</strong></dt>
          <dd>
            <% if @user_rel_contrib.start_date_type == "BF" %>
              <dd>Before</dd>
            <% elsif @user_rel_contrib.start_date_type == "AF" %>
              <dd>After</dd>
            <% elsif @user_rel_contrib.start_date_type == "IN" %>
              <dd>In</dd>
            <% elsif @user_rel_contrib.start_date_type == "CA" %>
              <dd>Circa</dd>
            <% elsif @user_rel_contrib.start_date_type == "BF/IN" %>
              <dd>Before or In</dd>
            <% elsif @user_rel_contrib.start_date_type == "AF/IN" %>
              <dd>After or In</dd>
            <% end %>
          </dd>
        <% end %>
        <% if ((! @user_rel_contrib.start_month.blank?) || (! @user_rel_contrib.start_day.blank?) || (! @user_rel_contrib.start_year.blank?)) %>
          <dt><strong>Start Date:</strong></dt>
          <dd><% if ! @user_rel_contrib.start_month.blank? %>
            <%= @user_rel_contrib.start_month %>
          <% end %>  
          <% if ! @user_rel_contrib.start_day.blank? %>
            <%= @user_rel_contrib.start_day %>,
          <% end %>
          <% if ! @user_rel_contrib.start_year.blank? %>
            <%= @user_rel_contrib.start_year %>
          <% end %></dd>
        <% else %>
          <dt><strong>Start Date:</strong></dt>
          <dd>Unknown</dd>
        <% end %>
        <% if ! @user_rel_contrib.end_date_type.blank? %>
          <dt><strong>End Date Type:</strong></dt>
          <dd>
            <% if @user_rel_contrib.end_date_type == "BF" %>
              <dd>Before</dd>
            <% elsif @user_rel_contrib.end_date_type == "AF" %>
              <dd>After</dd>
            <% elsif @user_rel_contrib.end_date_type == "IN" %>
              <dd>In</dd>
            <% elsif @user_rel_contrib.end_date_type == "CA" %>
              <dd>Circa</dd>
            <% elsif @user_rel_contrib.end_date_type == "BF/IN" %>
              <dd>Before or In</dd>
            <% elsif @user_rel_contrib.end_date_type == "AF/IN" %>
              <dd>After or In</dd>
            <% end %>
          </dd>
        <% end %>
        <% if ((! @user_rel_contrib.end_month.blank?) || (! @user_rel_contrib.end_day.blank?) || (! @user_rel_contrib.end_year.blank?)) %>
          <dt><strong>End Date:</strong></dt>
          <dd><% if ! @user_rel_contrib.end_month.blank? %>
            <%= @user_rel_contrib.end_month %>
          <% end %>  
          <% if ! @user_rel_contrib.end_day.blank? %>
            <%= @user_rel_contrib.end_day %>,
          <% end %>
          <% if ! @user_rel_contrib.end_year.blank? %>
            <%= @user_rel_contrib.end_year %>
          <% end %></dd>
        <% else %>
          <dt><strong>End Date:</strong></dt>
          <dd>Unknown</dd>
        <% end %>
        <dt><strong>Created:</strong></dt>
        <dd><%= @user_rel_contrib.created_at.strftime("%m/%d/%Y") %> by <%= link_to User.find(@user_rel_contrib.created_by).username,  user_path(@user_rel_contrib.created_by) %></dd>
        <% @last_edit = @user_rel_contrib.last_edit %>
        <% if ! @last_edit.blank? %>
          <dt><strong>Last Edit:</strong></dt>
          <dd><%= @last_edit[1].strftime("%m/%d/%Y")%> by <%= link_to User.find(@last_edit[0]).username,  user_path(@last_edit[0]) %></dd>
        <% end %>
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin") || (current_user.user_type == "Curator")) %>
            <dt><strong>Is Approved?:</strong></dt>
          <dd><%= @user_rel_contrib.is_approved %></dd>
          <% if ! @user_rel_contrib.approved_by.blank? %>
            <dt><strong>Approved By:</strong></dt>
            <dd><%= link_to User.find(@user_rel_contrib.approved_by).username,  user_path(@user_rel_contrib.approved_by) %></dd>
          <% end %>
          <% if ! @user_rel_contrib.approved_by.blank? %>
            <dt><strong>Approved On:</strong></dt>
            <dd><%= @user_rel_contrib.approved_on %></dd>
          <% end %>
          <dt><strong>Is Active:</strong></dt>
          <dd><%= @user_rel_contrib.is_active %></dd>
          <dt><strong>Is Rejected:</strong></dt>
          <dd><%= @user_rel_contrib.is_rejected %></dd>
        <% end %>
      </dl>

    </div>
  </div>
</div>