<p id="notice"><%= notice %></p>

<p>
  <b>Relationship:</b>
  <%= @user_rel_contrib.relationship_id %>
</p>

<p>
  <b>Created by:</b>
  <%= @user_rel_contrib.created_by %>
</p>

<p>
  <b>Confidence type:</b>
  <%= @user_rel_contrib.confidence_type %>
</p>

<p>
  <b>Annotation:</b>
  <%= @user_rel_contrib.annotation %>
</p>

<p>
  <b>Bibliography:</b>
  <%= @user_rel_contrib.bibliography %>
</p>

<p>
  <b>Relationship type:</b>
  <%= @user_rel_contrib.relationship_type %>
</p>

<p>
  <b>Is flagged:</b>
  <%= @user_rel_contrib.is_flagged %>
</p>

<% if can? :update, @user_rel_contrib %>
  <%= link_to 'Edit', edit_user_rel_contrib_path(@user_rel_contrib) %> |
<% end %>
<%= link_to 'Back', user_rel_contribs_path %>
