<div class="row">
  <div class="span12">
    <h1>Group Category: <%= @group_category.name %>
    </h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span5">
    <div class="well">
      <h2>Information
        <% if can? :update, @group_category %> 
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_group_category_path(@group_category), :class => 'btn btn-mini' %>
        <% end %>
      </h2>
      <br>
      <dl class="dl-horizontal">
        <dt><strong>Name:</strong></dt>
        <dd><%= @group_category.name %></dd>
        <% if ! @group_category.description.blank? %>
          <dt>Description:</strong></dt>
          <dd><%= @group_category.description %></dd>
        <% end %>
        <dt><strong>Created by:</strong></dt>
        <dd><%= link_to User.find(@group_category.created_by).username,  user_path(@group_category.created_by) %></dd>
        <dt><strong>Is Approved?:</strong></dt>
        <dd><%= @group_category.is_approved %></dd>
        <% if ! @group_category.approved_by.blank? %>
          <dt><strong>Approved by:</strong></dt>
          <dd><%= link_to User.find(@group_category.approved_by).username,  user_path(@group_category.approved_by) %></dd>
        <% end %>
        <% if ! @group_category.approved_on.blank? %>
          <dt><strong>Approved on:</strong></dt>
          <dd><%= @group_category.approved_on %></dd>
        <% end %>
        <dt>Created at</dt>
        <dd><%= @group_category.created_at %></dd>
        <dt>Edit History</dt>
        <% if ! @group_category.edited_by_on.blank? %>
          <dd><%= @group_category.edited_by_on %></dd>
        <% else %>
          <dd>No edits have been made.</dd>
        <% end %>
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin")) %>
          <dt>Is Active</dt>
          <dd><%= @group_category.is_active %></dd>
          <dt>Is Rejected</dt>
          <dd><%= @group_category.is_rejected %></dd>
        <% end %>
      </dl>
    </div>
  </div>
  <div class="span7">
    <div class="well">
        <h2>All Group Assignments for <%= @group_category.name%><% if ! current_user.nil? && (current_user.user_type == "Admin") %><%= link_to 'New Group Category Assignment', new_group_cat_assign_path(:group_cat_id => @group_category.id), :class => 'btn btn-primary btn-mini' %><% end %></h2>
        <% if ! @group_cat_assigns_approved.empty? %>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Group</th>
                <th>Category</th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @group_cat_assigns_approved.each do |group_cat_assign| %>
                <tr>
                  <td><%= group_cat_assign.id %></td>
                  <td><%= link_to Group.find(group_cat_assign.group_id).name, group_path(group_cat_assign.group_id) %></td>
                  <td><%= link_to GroupCategory.find(group_cat_assign.group_category_id).name, group_category_path(group_cat_assign.group_category_id) %></td>
                  <td>
                    <% if can? :show, group_cat_assign %>
                      <%= link_to 'Show', group_cat_assign, :class => 'btn btn-mini' %>
                    <% end %>
                    <% if can? :update, group_cat_assign %>
                      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                      edit_group_cat_assign_path(group_cat_assign), :class => 'btn btn-mini' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= will_paginate @group_cat_assigns_approved, :param_name => 'group_cat_assigns_approved_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        <% else %>
          <br>
          <b>No group category assignments exist.</b>
        <% end %>
      </div>
  </div>
</div>