<h1>Export Relationship Data</h1>
<div class="well">
  <div class="container">
    <%=link_to 'Export Relationships #100000000-#100020000', '/relationships_100000000_100020000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationships #100020001-#100040000', '/relationships_100020001_100040000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationships #100040001-#100060000', '/relationships_100040001_100060000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationships #100060001-#100080000', '/relationships_100060001_100080000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationships #100080001-#100100000', '/relationships_100080001_100100000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationships #100100001-#100120000', '/relationships_100100001_100120000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationships #100120001-#100140000', '/relationships_100120001_100140000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationships #100140001-#100160000', '/relationships_100140001_100160000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationships #100160001-#100180000', '/relationships_100160001_100180000', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationships #100180000 and over', '/relationships_greater_than_100180000', :class => 'btn btn-primary'%>
  </div>
</div>