<%= simple_form_for @user_group_contrib, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :group_id %>
  <%= f.input :created_by %>
  <%= f.input :annotation %>
  <%= f.input :bibliography %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_group_contribs_path, :class => 'btn' %>
  </div>
<% end %>
