<h1>All User Group Contributions</h1><br>

<div class="well">
  <div class="container">
    <div class="row">
      <div class="span8">
        <b>Add a new user group contribution</b></br>
        <%= link_to 'New User Group Contribution',
            new_user_group_contrib_path,
            :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>User Group Contribution id</th>
      <th>Group</th>
      <th>Created by</th>
      <th>Annotation</th>
      <th>Bibliography</th>
      <th>Created at</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @user_group_contribs.each do |user_group_contrib| %>
      <tr>
        <td><%= user_group_contrib.id %></td>
        <td><%= link_to Group.find(user_group_contrib.group_id).name, group_path(user_group_contrib.group_id) %></td>
        <td><%= link_to User.find(user_group_contrib.created_by).username, user_path(user_group_contrib.created_by) %></td>
        <td><%= user_group_contrib.annotation %></td>
        <td><%= user_group_contrib.bibliography %></td>
        <td><%= user_group_contrib.created_at %></td>
        <td>
          <% if can? :show, user_group_contrib %>
              <%= link_to 'Show', user_group_contrib, :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :update, user_group_contrib %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_user_group_contrib_path(user_group_contrib), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :destroy, user_group_contrib %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        user_group_contrib_path(user_group_contrib),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @user_group_contribs, :param_name => 'user_group_contribs_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
