<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @comment.id %>
</p>

<p>
  <b>Comment type:</b>
  <%= @comment.comment_type %>
</p>

<p>
  <b>Associated contrib:</b>
  <%= @comment.associated_contrib %>
</p>

<p>
  <b>Created by:</b>
  <%= @comment.created_by %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Created at:</b>
  <%= @comment.created_at %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
