<%= form_for(@group_cat_assign) do |f| %>
  <% if @group_cat_assign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_cat_assign.errors.count, "error") %> prohibited this group_cat_assign from being saved:</h2>

      <ul>
      <% @group_cat_assign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :group_category_id %><br />
    <%= f.number_field :group_category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
