<h1>All Group Category Assignments <%= link_to 'Assign a Category to a Group', new_group_cat_assign_path, :class => 'btn btn-primary' %><% if (current_user.user_type == "Admin")%><%=link_to 'Export Data', '/export_group_cat_assigns', :class => 'btn btn-primary'%><% else %><%=link_to 'Export Data', '/export_group_cat_assign_list', :class => 'btn btn-primary'%><% end %></h1><br>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>SDFB Group Category Assignment ID </th>
      <th>Group</th>
      <th>Group Category</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @group_cat_assigns_approved.each do |group_cat_assign| %>
      <tr>
        <td><%= group_cat_assign.id %></td>
        <td><%= link_to Group.find(group_cat_assign.group_id).name, group_path(group_cat_assign.group_id) %></td>
        <td><%= link_to GroupCategory.find(group_cat_assign.group_category_id).name, group_category_path(group_cat_assign.group_category_id) %></td>
        <td>
          <% if can? :show, group_cat_assign %>
            <%= link_to 'Show', group_cat_assign, :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :update, group_cat_assign %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_group_cat_assign_path(group_cat_assign), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :delete, group_cat_assign %>
            <%= link_to 'Delete', group_cat_assign, :class => 'btn btn-mini btn-danger',method: :delete, data: { confirm: 'Are you sure that you want to permanently delete this record and all associated records?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @group_cat_assigns_approved, :param_name => 'group_cat_assigns_approved_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>