<div class="row">
  <div class="span12">
    <h1>Group Category Assignment</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span5">
    <div class="well">
      <h2>Information
        <% if can? :update, @group_cat_assign %> 
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_group_cat_assign_path(@group_cat_assign), :class => 'btn btn-mini' %>
        <% end %>
      </h2>
      <br>
      <dl class="dl-horizontal">
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin")) %>
          <dt><strong>SDFB Group/Cat Assign. ID:</strong></dt>
          <dd><%= @group_cat_assign.id %></dd>
        <% end %>
        <dt><strong>Group:</strong></dt>
        <dd><%= link_to Group.find(@group_cat_assign.group_id).name, group_path(@group_cat_assign.group_id) %></dd>
        <dt><strong>Group Category:</strong></dt>
        <dd><%= link_to GroupCategory.find(@group_cat_assign.group_category_id).name, group_category_path(@group_cat_assign.group_category_id) %></dd>
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin")) %>
          <dt><strong>Created:</strong></dt>
          <dd><%= @group_cat_assign.created_at.strftime("%m/%d/%Y") %> by <%= link_to User.find(@group_cat_assign.created_by).username,  user_path(@group_cat_assign.created_by) %></dd>
          <% @last_edit = @group_cat_assign.last_edit %>
          <% if ! @last_edit.blank? %>
            <dt><strong>Last Edit:</strong></dt>
            <dd><%= @last_edit[1].strftime("%m/%d/%Y")%> by <%= link_to User.find(@last_edit[0]).username,  user_path(@last_edit[0]) %></dd>
          <% end %>
          <dt><strong>Is Approved?:</strong></dt>
          <dd><%= @group_cat_assign.is_approved %></dd>
          <% if ! @group_cat_assign.approved_by.blank? %>
            <dt><strong>Approved By:</strong></dt>
            <dd><%= link_to User.find(@group_cat_assign.approved_by).username,  user_path(@group_cat_assign.approved_by) %></dd>
          <% end %>
          <% if ! @group_cat_assign.approved_on.blank? %>
            <dt><strong>Approved On:</strong></dt>
            <dd><%= @group_cat_assign.approved_on %></dd>
          <% end %>
          <dt><strong>Is Active:</strong></dt>
          <dd><%= @group_cat_assign.is_active %></dd>
          <dt><strong>Is Rejected:</strong></dt>
          <dd><%= @group_cat_assign.is_rejected %></dd>
        <% end %>
      </dl>
    </div>
  </div>
