<p id="notice"><%= notice %></p>

<p>
  <b>Group Category id:</b>
  <%= @group_cat_assign.id %>
</p>

<p>
  <b>Group:</b>
  <%= @group_cat_assign.group_id %>
</p>

<p>
  <b>Group category:</b>
  <%= @group_cat_assign.group_category_id %>
</p>

<p>
  <b>Created by:</b>
  <%= @group_cat_assign.created_by %>
</p>

<p>
  <b>Created at:</b>
  <%= @group_cat_assign.created_at %>
</p>


<%= link_to 'Edit', edit_group_cat_assign_path(@group_cat_assign) %> |
<%= link_to 'Back', group_cat_assigns_path %>
