<div class="row">
  <div class="span12">
    <h1>Group Category Assignment</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span5">
    <div class="well">
      <h2>Information
        <% if can? :update, @group_cat_assign %> 
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_group_cat_assign_path(@group_cat_assign), :class => 'btn btn-mini' %>
        <% end %>
      </h2>
      <br>
      <dl class="dl-horizontal">

        <dt><strong>Group:</strong></dt>
        <dd><%= link_to Group.find(@group_cat_assign.group_id).name, group_path(@group_cat_assign.group_id) %></dd>
        <dt><strong>Group Category:</strong></dt>
        <dd><%= link_to GroupCategory.find(@group_cat_assign.group_category_id).name, group_category_path(@group_cat_assign.group_category_id) %></dd>
        <dt><strong>Created by:</strong></dt>
        <dd><%= link_to User.find(@group_cat_assign.created_by).username,  user_path(@group_cat_assign.created_by) %></dd>
        <dt><strong>Is Approved?:</strong></dt>
        <dd><%= @group_cat_assign.is_approved %></dd>
        <% if ! @group_cat_assign.approved_by.blank? %>
          <dt><strong>Approved by:</strong></dt>
          <dd><%= link_to User.find(@group_cat_assign.approved_by).username,  user_path(@group_cat_assign.approved_by) %></dd>
        <% end %>
        <% if ! @group_cat_assign.approved_on.blank? %>
          <dt><strong>Approved on:</strong></dt>
          <dd><%= @group_cat_assign.approved_on %></dd>
        <% end %>
        <dt>Created at</dt>
        <dd><%= @group_cat_assign.created_at %></dd>
        <dt>Edit History</dt>
        <% if ! @group_cat_assign.edited_by_on.blank? %>
          <dd><%= @group_cat_assign.edited_by_on %></dd>
        <% else %>
          <dd>No edits have been made.</dd>
        <% end %>
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin")) %>
          <dt>Is Active</dt>
          <dd><%= @group_cat_assign.is_active %></dd>
          <dt>Is Rejected</dt>
          <dd><%= @group_cat_assign.is_rejected %></dd>
        <% end %>
      </dl>
    </div>
  </div>
