
<% content_for :title, "SDFB: Relationship Categories" %>


<h1>All Relationship Categories <%= link_to 'Create Relationship Category', new_relationship_category_path, :class => 'btn btn-primary' %><%=link_to 'Export Data', '/export_rel_cats', :class => 'btn btn-primary'%></h1><br>

<table class="table table-condensed">
    <tr>
    <th>SDFB Relationship Category ID</th>
    <th>Category Name</th>
    <th>Description</th>
    <th></th>
    </tr>

    <% @relationship_categories.each do |relationship_category| %>
      <tr>
        <td><%= link_to relationship_category.id, relationship_category %></td>
        <td><%= relationship_category.name %></td>
        <td><%= relationship_category.description %></td>
        <td><%= link_to 'Edit', edit_relationship_category_path(relationship_category), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
</table>

<%= will_paginate @relationship_categories, :param_name => 'rel_category_approved_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>