<%= simple_form_for @user_group_contrib, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @user_group_contrib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_group_contrib.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @user_group_contrib.errors.full_messages.each do |msg| %>
        <br>
          <li>- <%= msg %></li>
        <br>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :group_id %>
  <%= Group.find(@user_group_contrib.group_id).name %>
  <%= f.input :annotation, label: "Note" %>
  <%= f.input :bibliography, label: "Citation" %>
  <%= f.hidden_field :approved_by, :value => current_user.id %>
  <% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator") %>
    <%= f.input :is_approved %>
    <%= f.input :is_active %>
    <% if @is_approved == false %>
      <%= f.input :is_rejected %>
      <%= f.hidden_field :approved_by, :value => current_user.id %>
      <%= f.hidden_field :approved_on, :value => Time.now %>
    <% end %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary', :value => "Edit Group Note" %>
  </div>
<% end %>
