<%= simple_form_for(@relationship_type) do |f| %>
  <% if @relationship_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relationship_type.errors.count, "error") %> prohibited this relationship type from being saved:</h2>

      <ul>
      <% @relationship_type.errors.full_messages.each do |msg| %>
        <br>
          <li>- <%= msg %></li>
        <br>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :description, input_html: { rows:"5" } %>
  <%= f.input :relationship_type_inverse, :collection =>@relTypeOptions.collect{ |r| [r.name, r.id] }, label: "Relationship Type Inverse", prompt: "Select" %>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <% if current_user.user_type == "Admin" %>
    <%= f.input :is_approved %>
    <%= f.input :is_active %>
    <% if @is_approved == false %>
      <%= f.input :is_rejected %>
      <%= f.hidden_field :approved_by, :value => current_user.id %>
      <%= f.hidden_field :approved_on, :value => Time.now %>
    <% end %>
  <% end %>
  <div class="form-actions">
    Please note that your submission will not appear on SDFB <br>
    until it is reviewed by a SDFB administrator. <br>
    <%= f.button :submit, :class => 'btn btn-primary', :value => "Create Relationship Type" %>
  </div>
<% end %>
