<%= simple_form_for(@relationship_type) do |f| %>
  <% if @relationship_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relationship_type.errors.count, "error") %> prohibited this relationship type from being saved:</h2>

      <ul>
      <% @relationship_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :relationship_type_inverse %>
  <%= f.input :default_rel_category, label: "Primary Category" %>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <% if current_user.user_type == "Admin" %>
    <%= f.input :is_active %>
  <% end %>
    <% if current_user.user_type == "Admin" %>
    <%= f.input :is_approved %>
    <%= f.hidden_field :approved_by, :value => current_user.id %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                relationship_types_path, :class => 'btn' %>
  </div>
<% end %>
