
<% content_for :title, "SDFB: Relationship Types" %>


<h1>All Relationship Types <%= link_to 'Create Relationship type', new_relationship_type_path, :class => 'btn btn-primary' %><%=link_to 'Export Data', '/export_rel_types', :class => 'btn btn-primary'%></h1><br>

<table class="table table-condensed">
    <tr>
    <th>SDFB Relationship Type ID</th>
    <th>Relationship Type Name</th>
    <th>Inverse of Relationship Type</th>
    <th></th>
    </tr>

    <% @relationship_types.each do |relationship_type| %>
      <tr>
        <td><%= link_to relationship_type.id, relationship_type %></td>
        <td><%= relationship_type.name %></td>
        <% if ! relationship_type.relationship_type_inverse.blank? %>
            <td><%= link_to RelationshipType.find(relationship_type.relationship_type_inverse).name, relationship_type_path(relationship_type.relationship_type_inverse) %></td>
        <% else %>
            <td></td>
        <% end %>
        <td><% if can? :update, relationship_type %>      
        	<%= link_to 'Edit', edit_relationship_type_path(relationship_type), :class => 'btn btn-mini' %>
        <% end %>
        </td>

      </tr>
    <% end %>
</table>
<%= will_paginate @relationship_types, :param_name => 'rel_types_approved_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
