<div class="row">
  <div class="span12">
    <h1>Relationship Type: <%= @relationship_type.name %>
    </h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span5">
    <div class="well">
      <h2>Information
        <% if can? :update, @relationship_type %> 
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_relationship_type_path(@relationship_type), :class => 'btn btn-mini' %>
        <% end %>
      </h2>
      <dl class="dl-horizontal">
        <dt><strong>SDFB Relationship Type ID:</strong></dt>
        <dd><%= @relationship_type.id %></dd>
        <dt><strong>Relationship Type Name:</strong></dt>
        <dd><%= @relationship_type.name %></dd>
        <% if ! @relationship_type.description.blank? %>
          <dt><strong>Description:</strong></dt>
          <dd><%= @relationship_type.description %></dd>
        <% end %>
        <% if ! @relationship_type.relationship_type_inverse.blank? %>
          <dt><strong>Relationship Type Inverse:</strong></dt>
          <dd><%= link_to RelationshipType.find(@relationship_type.relationship_type_inverse).name, relationship_type_path(@relationship_type.relationship_type_inverse) %></dd>
        <% end %>
        <dt><strong>Created by:</strong></dt>
        <dd><%= link_to User.find(@relationship_type.created_by).username,  user_path(@relationship_type.created_by) %></dd>
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin") || (current_user.user_type == "Curator")) %>
          <dt><strong>Is Approved?:</strong></dt>
          <dd><%= @relationship_type.is_approved %></dd>
          <% if ! @relationship_type.approved_by.blank? %>
            <dt><strong>Approved By:</strong></dt>
            <dd><%= link_to User.find(@relationship_type.approved_by).username,  user_path(@relationship_type.approved_by) %></dd>
          <% end %>
          <% if ! @relationship_type.approved_on.blank? %>
            <dt><strong>Approved On:</strong></dt>
            <dd><%= @relationship_type.approved_on %></dd>
          <% end %>
          <dt><strong>Created On:</strong></dt>
          <dd><%= @relationship_type.created_at %></dd>
          <dt><strong>Edit History:</strong></dt>
          <% if ! @relationship_type.edited_by_on.blank? %>
            <dd><%= @relationship_type.edited_by_on %></dd>
          <% else %>
            <dd>No edits have been made.</dd>
          <% end %>
        <% end %>
        <% if (! current_user.blank?) && ((current_user.user_type == "Admin")) %>
          <dt><strong>Is Active:</strong></dt>
          <dd><%= @relationship_type.is_active %></dd>
          <dt><strong>Is Rejected:</strong></dt>
          <dd><%= @relationship_type.is_rejected %></dd>
        <% end %>
      </dl>
    </div>
  </div>
  <div class="span7">
    <div class="well">
        <h2>All Relationship Category Assignments for <%= @relationship_type.name %><% if ! current_user.nil? && (current_user.user_type == "Admin")%><%= link_to 'New Relationship Category Assignment', new_rel_cat_assign_path(:rel_type_id => @relationship_type.id), :class => 'btn btn-primary btn-mini' %><% end %></h2><br>
        <% if ! @rel_cat_assigns_approved.empty? %>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Assignment ID</th>
                <th>Category</th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @rel_cat_assigns_approved.each do |rel_cat_assign| %>
                <tr>
                  <td><%= rel_cat_assign.id %></td>
                  <td><%= link_to RelationshipCategory.find(rel_cat_assign.relationship_category_id).name, relationship_category_path(rel_cat_assign.relationship_category_id) %></td>
                  <td>
                    <% if can? :show, rel_cat_assign %>
                      <%= link_to 'Show', rel_cat_assign, :class => 'btn btn-mini' %>
                    <% end %>
                    <% if can? :update, rel_cat_assign %>
                      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                      edit_rel_cat_assign_path(rel_cat_assign), :class => 'btn btn-mini' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= will_paginate @rel_cat_assigns_approved, :param_name => 'rel_cat_assigns_approved_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        <% else %>
          No relationship type assignments exist.
        <% end %>
    </div>
  </div>
</div>
