<div class="row">
  <div class="span12">
    <h1>Relationship Type: <%= @relationship_type.name %>
    </h1>
  </div>
</div>
<br>
<div class="row">
  <div class="span5">
    <div class="well">
      <h2>Information
        <% if can? :update, @relationship_type %> 
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_relationship_type_path(@relationship_type), :class => 'btn btn-mini' %>
        <% end %>
      </h2>
      <br>
      <dl class="dl-horizontal">

        <dt><strong>Name:</strong></dt>
        <dd><%= @relationship_type.name %></dd>
        <% if ! @relationship_type.description.blank? %>
          <dt>Description:</strong></dt>
          <dd><%= @relationship_type.description %></dd>
        <% end %>
        <dt><strong>Relationship Inverse:</strong></dt>
        <dd><%= link_to RelationshipType.find(@relationship_type.relationship_type_inverse).name, relationship_type_path(@relationship_type.relationship_type_inverse) %></dd>
        <dt><strong>Created by:</strong></dt>
        <dd><%= link_to User.find(@relationship_type.created_by).username,  user_path(@relationship_type.created_by) %></dd>
        <dt><strong>Is Approved?:</strong></dt>
        <dd><%= @relationship_type.is_approved %></dd>
        <% if ! @relationship_type.approved_by.blank? %>
          <dt><strong>Approved by:</strong></dt>
          <dd><%= link_to User.find(@relationship_type.approved_by).username,  user_path(@relationship_type.approved_by) %></dd>
        <% end %>
        <% if ! @relationship_type.approved_on.blank? %>
          <dt><strong>Approved on:</strong></dt>
          <dd><%= @relationship_type.approved_on %></dd>
        <% end %>
        <dt>Created at</dt>
        <dd><%= @relationship_type.created_at %></dd>
      </dl>
    </div>
  </div>
