<div class="navbar" id ="head">
  	<ul>
        <a href="/"><%= image_tag "BETA2.jpg", id: "bacon", alt: "Six Degrees of Francis BETA" %></a>

		<ul class="nav pull-right">
			<% if logged_in? %>
				<li><a href="/">Visualization</a></li>
				<li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      View Records
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				    	<li><a href="/all_recent">All Recent Records</a></li>
				    	<% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")%>
					    	<li class="nav-header">People</li>
					   	<% end %>
					    	<li><a href="/people">People</a></li>
					    	<% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")%>
					    		<li><a href="/user_person_contribs">People Notes</a></li>
					    	<% end %>
					    <% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")%>
					    	<li class="nav-header">Relationships</li>
					    <% end %>
					    	<% if (current_user.user_type == "Admin") || (current_user.user_type == "Standard") || (current_user.user_type == "Curator")%>
					    		<li><a href="/relationships">Relationships</a></li>
					    	<% end %>
					    	<% if (current_user.user_type == "Admin") %>
					    		<li><a href="/relationship_categories">Relationship Categories</a></li>
					    	<% end %>
					    	<% if (current_user.user_type == "Admin") || (current_user.user_type == "Standard") || (current_user.user_type == "Curator")%>
					    		<li><a href="/relationship_types">Relationship Types</a></li>
					    	<% end %>
					    	<% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")%>
					    		<li><a href="/user_rel_contribs">Relationship Type Assignments</a></li>
					    	<% end %>
					    	<% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")%>
					    		<li><a href="/rel_cat_assigns">Relationship Type/Category Assignments</a></li>
					    	<% end %>
					    <% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")%>
					    	<li class="nav-header">Groups</li>
					    <% end %>
					    	<% if (current_user.user_type == "Admin") || (current_user.user_type == "Standard") || (current_user.user_type == "Curator")%>
					    		<li><a href="/groups">Groups</a></li>
					    	<% end %>
					    	<% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")%>
					    		<li><a href="/group_assignments">Group Assignments</a></li>
					    	<% end %>
					    	<% if (current_user.user_type == "Admin") %>
					    		<li><a href="/group_categories">Group Categories</a></li>
					    	<% end %>
					    	<% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")%>
					    		<li><a href="/group_cat_assigns">Group Category Assignments</a></li>
					    	<% end %>
					    	<% if (current_user.user_type == "Admin") || (current_user.user_type == "Curator")%>
					    		<li><a href="/user_group_contribs">Group Notes</a></li>
					    	<% end %>
					    	<% if (current_user.user_type == "Admin") %>
					    		<li class="nav-header">Users</li>
					    		<li><a href="/users">Users</a></li>
					    	<% end %>
				    </ul>
				</li>
				<% if (current_user.user_type == "Admin") %>
					<li class="dropdown">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					    	Admin Dashboards
					      <b class="caret"></b>
					    </a>
						<ul class="dropdown-menu">
							<li><a href="/all_inactive">All Inactive Records</a></li>
							<!-- <li><a href="/all_recent">All Recent Records</a></li> -->
							<li><a href="/all_rejected">All Rejected Records</a></li>
							<li><a href="/all_unapproved">All Unapproved Records</a></li>
						</ul>
					</li>
				<% end %>
				<% if(current_user.user_type == "Curator")%>
					<li><a href="/all_unapproved">Approve Records</a></li>
				<% end %>
			<% else %>
				<li><a href="/">Visualization</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					    View Records
					    <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/people">People</a></li>
						<li><a href="/relationships">Relationships</a></li>
						<li><a href="/relationship_types">Relationship Types</a></li>
						<li><a href="/groups">Groups</a></li>
					</ul>
				</li>
			<% end %>
			<% if current_user %>
				<li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				    	<%= current_user.email %>
				      <b class="caret"></b>
				    </a>
					<ul class="dropdown-menu">
						<li><%= link_to "My Profile", user_path(current_user) %></li>
						<li><%= link_to "Sign Out", sign_out_path(prev: session[:previous_url]) %></li>
					</ul>
				</li>
			<% else %>
				<li><%= link_to "Sign In / Sign Up", sign_in_path(prev: session[:previous_url]) %></li>
			<% end %>
				<li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				    	?
				      <b class="caret"></b>
				    </a>
					<ul class="dropdown-menu">
						<li><a href="/about">About</a></li>
						<li><a href="http://6dfb.tumblr.com/">Blog</a></li>
						<li><a href="/help">Help</a></li>
						<li><a href="/tutorial">Tutorials</a></li>
						<li><a href="/guide">Teaching Guides</a></li>
					</ul>
				</li>


			<li><a target="blanK" href="http://goo.gl/forms/J4u7kgI6h4">Feedback</a></li>
			
	  	</ul>
	</ul>
</div>
