<!DOCTYPE html>
<html>
<head>
   <title><%= yield(:title) %></title>
    <script>
  	window.gon = <%= @data.to_json.html_safe %>
  </script>
 <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- Nav Bar Header -->

<%= render :partial => 'layouts/header'%>
<div class="container-fluid">
	<div class="row">
		<div class="span12">
			<%= render partial: "layouts/flash_messages", flash: flash %> 
			<%= yield %>
		</div>
	</div>
</div>


<!-- Footer -->
<%= render :partial => 'layouts/footer'%>

</body>
</html>
