<!DOCTYPE html>
<html>
<head>
  <title>Sdfb</title>
  <%= include_gon %>
	
 <%= javascript_include_tag "jquery-2.1.1.min", "jquery-ui.min", "insights.standalone", "script",  "landing", "pace.min", "typeahead", "display2", "bootstrap.min", "accordion" %>
  <%= stylesheet_link_tag "reset", "jquery-impromptu.min", "jquery-ui.min", "accordion", "insights.standalone", "table", "landing", "style", "bootstrap.min"%>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Nav Bar Header -->

<div class="navbar">
  	<ul class="navbar-inner">
        <a class="brand" href="/">Six Degrees of Francis Bacon</a>
	  	
		
	  	<ul class="nav pull-right">
			<li class="divider-vertical"></li>
			<% if current_user %>
				<li><%= link_to current_user.email, user_path(current_user) %></li>
				<li><%= link_to "Sign out", sign_out_path %></li>
			<% else %>
				<li><%= link_to "Sign Up", sign_up_path %></li>
				<li><%= link_to "Sign in", sign_in_path %></li>
			<% end %>
			<li class="active"><a href="help">Help</a></li>
		<li class="active"><a href="http://sixdegreesoffrancisbacon.com/">Blog</a></li>
		<li class="active"><a href="about">About</a></li>
	  	</ul>
  	</ul>
</div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %> 
<%= yield %> 



<!-- Home Page Content -->
<% if current_page? ('test') %>
	<div class="container">
		<div class="row">
			<% flash.each do |name, msg| %>
				<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
					<a class="close" data-dismiss="alert">x</a>
					<%= msg %>
				</div>
			<% end %>
			<%= yield %>
		</div>
	</div>
<% end %>
<!-- Footer -->
<%= render :partial => 'layouts/footer'%>

</body>
</html>
