<!DOCTYPE html>
<html>
<head>
  <title>Sdfb</title>
  <%= include_gon %>

  <%= csrf_meta_tags %>
</head>
<body>
<!-- 	<div id="user_nav">
	  <% if current_user %>
	    Logged in as <%= current_user.email %>
	    <%= link_to "Sign out", sign_out_path %>
	  <% else %>
	    <%= link_to "Sign up", sign_up_path %> or 
	    <%= link_to "Sign in", sign_in_path %>
	  <% end %>
	</div> -->
<!--   <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>
<%= yield %> -->

<!-- Nav Bar Header -->


<!-- Home Page Content -->
<div class="container">
  <div class="row">
  	<% flash.each do |name, msg| %>
			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				<a class="close" data-dismiss="alert">x</a>
				<%= msg %>
			</div>
    <% end %>
    <%= yield %>
  </div>
</div>

<!-- Footer -->
<%= render :partial => 'layouts/footer'%>

</body>
</html>
