<!DOCTYPE html>
<html>
<head>
  <title>Six Degrees of Francis Bacon</title>

 <%= javascript_include_tag "jquery-2.1.1.min", "jquery-ui.min", "insights.standalone", "script",  "landing", "pace.min", "typeahead", "display2", "bootstrap.min", "accordion" %>
	

  <%= stylesheet_link_tag "application", "bootstrap_and_overrides" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Nav Bar Header -->

<%= render :partial => 'layouts/header'%>
<div class="container-fluid">
	<div class="row">
		<div class="span12">
			<% flash.each do |name, msg| %>
				<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
					<a class="close" data-dismiss="alert">x</a>
					<%= msg %>
				</div>
			<% end %>
			<%= yield %>
		</div>
	</div>
</div>

<!-- Footer -->
<%= render :partial => 'layouts/footer'%>

</body>
</html>
