<!DOCTYPE html>
<html>
<head>
  <title>Sdfb</title>
  <%= include_gon %>
	
 <%= javascript_include_tag "jquery-2.1.1.min", "jquery-ui.min", "insights.standalone", "script",  "landing", "pace.min", "typeahead", "display2", "bootstrap.min", "accordion" %>
  <%= stylesheet_link_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Nav Bar Header -->

<%= render :partial => 'layouts/header'%>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %> 
<%= yield %> 



<!-- Home Page Content -->
<% if current_page? ('test') %>
	<div class="container">
		<div class="row">
			<% flash.each do |name, msg| %>
				<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
					<a class="close" data-dismiss="alert">x</a>
					<%= msg %>
				</div>
			<% end %>
			<%= yield %>
		</div>
	</div>
<% end %>
<!-- Footer -->
<%= render :partial => 'layouts/footer'%>

</body>
</html>
