<!DOCTYPE html>
<html>
<head>
  <title>Six Degrees of Francis Bacon</title>
  <script>
  	window.gon = <%= @data.to_json.html_safe %>
  </script>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Nav Bar Header -->

<%= render :partial => 'layouts/header'%>

	<% flash.each do |name, msg| %>
		<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
			<a class="close" data-dismiss="alert">x</a>
			<%= msg %>
		</div>
	<% end %>
	<%= yield %>



<!-- Footer -->
<%= render :partial => 'layouts/footer'%>

</body>
</html>
