<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <script>
  	window.gon = <%= @data.to_json.html_safe %>
  </script>
  <%= javascript_include_tag "index" %>

  <%= stylesheet_link_tag "index" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Nav Bar Header -->

<%= render :partial => 'layouts/header'%>

<%= render partial: "layouts/flash_messages", flash: flash %> 
	<%= yield %>



<!-- Footer -->
<%= render :partial => 'layouts/footer'%>

</body>
</html>
