<!DOCTYPE html>
<html>
<head>
  <title>Six Degrees of Francis Bacon</title>
  <script>
  	window.gon = <%= @data.to_json.html_safe %>
  </script>
  <%= javascript_include_tag "jquery-2.1.1.min", "jquery-ui.min", "jquery-impromptu.min.js", "landing", "insights.standalone", "script",  "pace.min", "typeahead",  "accordion",  "bootstrap.min", "autocomplete-rails", "display" %>

  <%= stylesheet_link_tag "landing", "accordion", "jquery-ui.min", "bootstrap_and_overrides", "style", "insights.standalone.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Nav Bar Header -->

<%= render :partial => 'layouts/header'%>

	<% flash.each do |name, msg| %>
		<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
			<a class="close" data-dismiss="alert">x</a>
			<%= msg %>
		</div>
	<% end %>
	<%= yield %>



<!-- Footer -->
<%= render :partial => 'layouts/footer'%>

</body>
</html>
